[2015-03-25 12:40] paulbovbel opened #5 "Pull args from _description and _gazebo into header.xacro"
Pull args repeated in so many files:

<xacro:arg name="laser_enabled" default="false" />
<xacro:arg name="ur5_enabled" default="false" />
<xacro:arg name="kinect_enabled" default="false" />

Into a single xacro 'header' file.

[2015-03-25 13:01] UltronDestroyer commented on #5
My proposed fix to end all of this nonsense:

Add a $(rosparam ur5_enabled) which searches the rosparam server for that variable.  In the launch file, the params can be set once for the robot and used once in the xacro.

Ofc a pull request will have to be made to xacro

[2015-03-25 13:08] paulbovbel commented on #5
There would have to be a mechanism to guarantee thta all launch file params are loaded before the <param> call to load 'robot_description' via xacro call, which is why there's a distinction between <arg> and <param> in the first place.

[2015-03-25 14:03] UltronDestroyer commented on #5
True, we would have to solve that as well.

[2015-03-25 14:04] UltronDestroyer commented on #5
It's either we solve that, or have to do the exact same thing for the Jackal+UR3/MICO, the grizzly+UR10, and the LIRP.

Really just a choice of being smart or working hard IMHO.

[2015-03-25 17:14] mikepurvis commented on #5
Not convinced this medicine is better than the disease. What about env
vars, like Jackal?
On Mar 25, 2015 10:05 AM, "Devon Ash" notifications@github.com wrote:

[2015-03-26 19:48] UltronDestroyer commented on #5
envvars requires setting params on a bashrc. This is why I believe it is problematic: Why use a bashrc and not something more generic, like rosparam? For each system designed, there will have to be an install sequence that modifies the bashrc for each platform it goes onto.

In addition, for multi-robot/multi-master/multi-machine, these parameters can't be queried over a network. So launching node

[2015-03-26 20:52] mikepurvis commented on #5
Note that both [ros-system-daemon](https://github.com/TurtleBot-Mfg/ros-system-daemon-hydro/blob/4166da41d728f602ebd8ef4a613b5decdcbdb37f/root/usr/sbin/rosctl#L55) and [robot_upstart](https://github.com/clearpathrobotics/robot_upstart/blob/4bd921bd9f8202a00dc5b877891c81dd3cf47642/templates/job-start.em#L36) both explicitly support a scheme for injecting environment variables into the startup launc

[2015-06-03 14:50] UltronDestroyer opened #13 "Fix unstable build caused by uncommenting roslaunch check"
See https://github.com/husky/husky/pull/12

Waiting on ros-planning/moveit_ros#584

[2015-06-08 16:41] paulbovbel commented on #5
arg processed before include in xacro, not feasible

[2015-06-08 16:41] #5 closed, assigned to nobody

[2015-08-19 07:00] ktiwari9 opened #17 "Error When running movebase with Husky"
Hi there,
I am writing my own package to spawn a husky and make it do a random walk. I obtained the random walk code from https://raw.githubusercontent.com/ras-sight/hratc2015_entry_template/master/examples/cpp/random_walk_navigation.cpp

When I run the code, I get the following error:
Msg Connected to gazebo master @ http://127.0.0.1:11345
Msg Publicized address: 192.168.100.104
[ INFO] [14399672

[2015-08-19 07:04] ktiwari9 commented on #17
I am using ROS Hydro with Ubuntu 12.04 Precise and Gazebo 1.9

[2015-08-20 13:45] paulbovbel commented on #17
The husky stack underwent significant rework for the indigo release, and the navigation demos were written with the new structure in mind. I would recommend running in the simulator in ROS Indigo from debians.

[2015-08-20 14:01] ktiwari9 commented on #17
I managed to fix that bug but I have one more bug now. Husky spawns in Gazebo but it just stays frozen. It doesnt move when I launch move base. I wrote the code following the link https://github.com/ras-sight/hratc2015_entry_template/blob/master/examples/cpp/random_walk_navigation.cpp
when I do rostopic echo /husky/cmd_vel I see no output. Any suggestions on how I can fix this ? My project require

[2015-08-20 14:21] paulbovbel commented on #17
You should investigate where move_base is outputting it's cmd_vel topic.

[2015-08-21 02:47] ktiwari9 commented on #17
Yeah you were right. I just looked at that code again and there is no function to publish velocities to cmd_vel topic. I am trying to visualize a Ackermann Vehicle from https://github.com/wunderkammer-laboratory/ackermann_vehicle/blob/master/ackermann_vehicle_gazebo/launch/ackermann_vehicle.launch to show up beside my husky on the same Gazebo world, but everytime I can only see my husky but not th

[2015-08-21 10:27] ktiwari9 commented on #17
So when I can  goal position using a Move_Base setup from your repo how can I make Husky go to that place while avoiding the obstacles using a hokuyo laser scanner ?

[2015-10-12 15:17] weiweikong opened #18 "Husky Controller in Gazebo not working"
### Setup
- Ubuntu 14.04
- ROS Indigo
### Cannot control Husky througth `cmd_vel` by `teleop_twist_keyboard`
- I would like to import Husky model into a Pixhawk controller-based((https://github.com/PX4/Firmware/blob/master/launch/gazebo_ardrone_house_world.launch) world to do some research about UAV-UGB cooperation.
- I add the `husky_description` and `husky_controller` into the `rotors_simulator`

[2015-10-13 00:18] paulbovbel commented on #18
Spawning a Husky should involve loading a gazebo_ros_control plugin into the Husky model.

`[WARN] [WallTime: 1444662186.163395] [29.510000] Controller Spawner couldn't find the expected controller_manager ROS interface.`

This suggests that that's not happening, and diff_drive_controller can't be loaded into the ros_control plugin. Try installing the packages from debians, and/or making sure that

[2015-10-13 00:36] weiweikong commented on #18
Thansk for your reply.
- Previously, I install all the package through `sudo apt-get install ros-indigo-husky-*`, it also failed when I tried to spwan it in Gazebo with Pixhawk.
- The reason I git it independently is that I would like to add a QR code, such as Apriltag, to do some research about the cooperation control between UAV and UGV. So I need to change the Husky `.xacro` files.
- For above

[2015-10-13 00:46] paulbovbel commented on #18
What about if you run the Husky sim independently via `roslaunch husky_gazebo husky_playpen.launch`?

[2015-10-13 01:00] weiweikong commented on #18
It works fine no matter with debians or independent.

[code]

I received the above reply correctly, which I think shoud be load the control package througth `control.launch`. However, as the Husky Spawning to other world, I got no related information.

[2015-10-13 14:20] paulbovbel commented on #18
This looks like either an issue with your multi-robot namespacing or the way you've setup your custom xacro's. Either way, that's not an issue with the published software. I'd suggest opening a ROS Answers question, and providing a link to your custom code.

[2015-10-13 23:17] weiweikong commented on #18
Thank you for your replies. I will check the namespacing issue.

[2015-10-14 13:00] #18 closed, assigned to nobody

[2015-11-18 14:49] paulbovbel commented on #17
The navigation demos in husky_navigation work out of the box, so you should investigate how those are hooked up if you're trying to implement something on your own.

[2016-03-31 02:09] andrestoga opened #25 "hsky_ur5_moveit gazebo inertial not stable"
Hi,

I am simulating husky_ur5_moveit package in ROS indigo following this [tutorial](http://wiki.ros.org/husky_ur5_moveit_config/Tutorials/Husky%20UR5%20Mobile%20Manipulation%20Demo) but its inertial parameters are not stable. Whenever I start the simulation with the ur5 arm the husky always tips over as you can see in this [image](http://oi65.tinypic.com/25036u8.jpg).

I also tried to move the h

[2016-04-01 01:17] paulbovbel commented on #25
FYI @tonybaltovski sounds the Husky intertial params could use some tuning.

@TheDash, did you see this when you were developing the moveit config/demos?

[2016-04-01 03:48] andrestoga commented on #25
Hi,

I just fixed it by setting the parameter "laser_enabled" to false because I noticed that the sick laser was overlaid with the arm which was making the husky to tip over. The problem now is where to put the sick laser. In the [tutorial](http://wiki.ros.org/husky_ur5_moveit_config/Tutorials/Husky%20UR5%20Mobile%20Manipulation%20Demo) I can see that the sick laser is set below to the arm. Unfort

[2016-04-03 02:50] andrestoga opened #26 "Is it possible to integrate the ikfast with the ur5 in the Husky?"
Hi,

I just want to ask if it is possible to integrate the ikfast plugin for Moveit! to the ur5 in the Husky following this [tutorial](http://docs.ros.org/hydro/api/moveit_ikfast/html/doc/ikfast_tutorial.html#moveit-ikfast-installation)?

Best,

[2016-04-04 13:31] paulbovbel commented on #25
One option for moving the laser around is via environment variables (http://wiki.ros.org/husky_bringup/Tutorials/Customize%20Husky%20Configuration#Environment_Variables)

I'll have to leave it with @TheDash to comment on the moveit configuration.

[2016-04-05 05:54] andrestoga opened #27 "Error when planning with Moveit! Husky UR5 arm"
Hi,

I followed this [tutorial](http://wiki.ros.org/husky_ur5_moveit_config/Tutorials/Husky%20UR5%20Mobile%20Manipulation%20Demo) to use the Husky with the UR5 using Moveit!. Everything works ok so far. Now I want to use Moveit! to load motion planners at runtime. I created a new package to create a new node that will be in charge of execute the planning. This is my code:

[code]

I got the follow

[2016-05-10 15:43] UltronDestroyer commented on #27
Hi there,

The collisions need to be updated, I'll do that later this afternoon. In addition, I added a dependency on ur_kinematics, which you were probably missing to use the plugin

[2016-05-25 10:27] yajingwang94 opened #31 "No error but the robot just do not move."
Hi,
 I took your husky packages (husky_description, husky_gazbeo, and husky_control) as reference to build my working packages, but  use my own model and world.

I could get command news from my velocity_controller (which should be directly subscribed by gazebo), but my mobile robot just do not move and actually no reaction.

There were no errors reported, so I could not find out why it does not w

[2016-05-25 15:00] paulbovbel commented on #31
Please post to ROS answers, this does not sound like a husky-specific issue.

[2016-05-25 18:39] UltronDestroyer commented on #26
It should but it's not necessary. ROS Industrial has made a UR5 custom plugin that makes it plan very fast.

[2016-07-01 01:31] CMobley7 opened #32 "UR5KinematicsPlugin fails to plan in Cartesian space"
@TheDash,

I ran across your posts (https://github.com/ros-industrial/universal_robot/issues/155, https://github.com/ros-industrial/universal_robot/issues/184 and https://github.com/ros-industrial/universal_robot/issues/202), as well as a few others in ros-industrial/universal_robot in which portions of ur_kimematic/UR5KinematicsPlugin were rewritten to allow the ur5_arm to plan and execute.

Howe

[2016-07-01 16:42] CMobley7 commented on #31
@YajingWang1994,

I did something similar in https://github.com/CMobley7/team_7_ws/tree/master/src/truck. Maybe looking through that code with help solve your issue if it still remains. If not please close this issue.

Best,
CMobley7

[2016-07-01 16:49] CMobley7 commented on #27
@andrestoga,

Was this issue resolved? Where you successful in getting the ur5_arm to go to a specified point?

[2016-07-01 17:05] UltronDestroyer commented on #27
@CMobley7

Do you have ur_kinematics installed either via source or via deb?

[2016-07-01 19:36] CMobley7 commented on #27
@TheDash,

I installed ur_kinematics from source.

[2016-07-01 19:42] CMobley7 commented on #32
@TheDash,

I just install trac-ik-kinematics-plugin and changed my kinematics.yaml file from

[code]

to

[code]

This fixed both the prefix error and has successfully solved every IK problem I have given it. However, the default solve_type is speed and kinematics_solver_timeout is .005. So, I'm still trying to figure out how to change this via a launch file.

[2016-07-01 19:42] #32 closed, assigned to nobody

[2016-07-01 19:47] CMobley7 commented on #27
@andrestoga

If you are still having this problem, I suggest changing your solver to trac_ik. I just install trac-ik-kinematics-plugin and changed my kinematics.yaml file from

[code]

to

[code]

It has successfully solved every IK problem I have given it.

[2016-07-04 04:04] UltronDestroyer commented on #32
From my understanding, this is correct. The node of the code launched above, doesn't have the arm prefix specified in its namespace. You would also need to add the parameter under the nodes namespace of arm_prefix. This works when using it from RViz because RViz has that parameter set as per the pull requests I've made. In addition, the URDF should be spawned as joint limited (for the reasons spec

[2016-07-05 15:14] CMobley7 commented on #25
@andrestoga @paulbovbel @TheDash

The inertial stability remains an issue for me in simulation. I adjusted the decorations.urdf.xacro to remove the front bumper and moved the lidar to its position in husky.urdf.xacro. As shown in the image below. In addition, I increased the husky's mass and proportionally the inertia in each direction.

![new_lidar_location](https://cloud.githubusercontent.com/as

[2016-07-05 15:29] UltronDestroyer commented on #25
For best stability - I always just used laser_enabled:=false. However, that shouldn't have to be the case.

I've noticed this too.

I'll check what changing the position of the UR5 does. It looks like it may be too far off of the platform, causing all of this drifting and swaying.

[2016-07-15 16:20] CMobley7 commented on #25
@TheDash,

I measured the physical top_plate on our Husky and its dimensions were .825 m x .620 m x .006 m. However, the STL provided here has the top_plate dimensions as  .73 mm x .59 mm x 0.01 mm. I made a new top_plate with the physical dimensions above and exported it as an STL and DAE. I replaced the top_plate files in husky_description and expected to have to change the import size in the ur

[2016-07-16 18:36] CMobley7 commented on #25
@TheDash,

Adjusting it from m to mm fixed the erratic movement on startup. However, the adjusted plate dimensions had no effect on the stability that I can see. Any suggestions?

Thank you for your time and attention to this matter. Have a great weekend. God bless.

Very Respectfully,
CMobley7

[2016-07-18 08:57] jcarius opened #34 "Wheel inertias flipped"
Hi,
I suspect that the wheel inertias in the description ([husky_description/urdf/wheel.urdf.xacro](https://github.com/husky/husky/blob/indigo-devel/husky_description/urdf/wheel.urdf.xacro)) have their axes flipped.

As far as I understood, the wheels are rotating around their respective y-axes. Hence ixx and izz should be identical. Here it seems like the wheels axis is around z.

Best,
Jan

[2016-10-03 19:00] #34 closed, assigned to nobody

[2016-10-03 19:08] tonybaltovski commented on #31
Due to inactivity.

[2016-10-03 19:08] #31 closed, assigned to nobody

[2016-11-21 19:04] #27 closed, assigned to nobody

[2016-11-21 19:04] #26 closed, assigned to nobody

[2016-11-29 17:17] paulbovbel opened #37 "Moving UR5"
As an effort to release husky for kinetic, I am planning on moving all UR5 related bringup to a separate package to break the dependency on UR and moveit.

This will be a good chance to get a stable config for single/dual UR5 husky into a main branch. The problem will be with any outstanding PRs. I will do my best to blitz through anything outstanding, and keep anything that looks sane.

FYI @tony

[2016-11-29 17:19] paulbovbel commented on #37
ETA Dec 23rd

[2016-11-29 17:32] wxmerkt commented on #37
@paulbovbel Thanks for the heads-up! Is there any plan for splitting/different default configs for localization.yaml, planning.yaml etc for different configs? Apart from the gear box ratio, we've noticed that the values for ros-navigation need to be changed to be more conservative. We'll likely put in another PR soon to fix the IMU frame optenv on the dual-arm-husky.

@TheDash Are there plans to u

[2016-11-29 18:41] UltronDestroyer commented on #37
To be honest. I've always thought about the design like this:

1. The husky is a product
2. The husky UR5/dual UR5 is a product

Rather than this:

1. The husky is a product that maintains a sub integration of a UR5/dual UR5

Rationale: there are simply too many differences between the each to logically maintain them in the same piece of code. Rather, I'd like it more modular. Future Husky changes

[2016-11-29 18:47] UltronDestroyer commented on #37
@paulbovbel @tonybaltovski how do you feel about doing things this way?

This is a unique situation since we sell UR5 Husky and Dual UR5 husky as separate products, rather than a base husky + accessories which should be in one package. In addition, if there are separate branches, it is known then that I will care/work with the PR's/maintenance for those branches, and maintainership is well defined

[2016-11-29 18:52] jeff-o commented on #37
I’m all for separating and tuning separate branches for single and dual arm Huskies.

[2016-11-29 19:13] paulbovbel commented on #37
We can't keep mainline software in branches. Anything stable and 'standard' needs to be in a package and released as a debian.

Any customization needs to have a sane workflow. This will likely be by via passing around customizations via launch-args + env-vars.

The xacro customizations, I'm looking to standardize on one scheme with Jackal, so probably URDF_EXTRAS.

[2016-11-29 19:17] paulbovbel commented on #37
husky_ur5 and husky_dual_ur5 can be first class customizations under the scheme. moveit_configs need to exist for those as well, so we'll have to touch base on how those are generated later.

[2016-11-29 19:19] UltronDestroyer commented on #37
The customization workflow is aside to what this proposal is trying to achieve. And I do agree its a mess. The software should contain everything necessary to configure the robot, including the docs/manuals that list and explain the parameters to be used in the robot configurations.

I agree that anything stable and standard needs to be packaged, but we can also bloom the ur5 branches separately.

[2016-11-29 19:29] paulbovbel commented on #37
You can't bloom separate branches in one rosdistro like that.

Anyways, my primary motivation here is to get extraneous dependencies (i.e. moveit and ur5) out of the primary husky packages. Pushing UR5 husky config into a repo that can be used as a 'customization' of the base husky is a start. I'm relatively open minded to how the customization scheme is laid out, and will play around with it on t

[2016-11-29 19:38] UltronDestroyer commented on #37
That means we will have to go the branched route. The urdf.xacro files will always have to include dependencies on the universal_robot packages  as long as it is including its description. In addition, there are other dependencies the UR5 product brings along such as robotiq grippers, force torques, and custom husky hardware design. The best way to do this is branching it out entirely. Branching i

[2016-11-29 19:38] tonybaltovski commented on #37
I envision that the Husky is a product and the single or dual UR5 configuration is an extension.  The main Husky packages will have to be changed to allow changes to be applied from the ur5 integration packages on to them (such as different `ros_control` parameters that the ur5 integration would need).  Using code on branches should be totally avoided.

[2016-11-29 19:40] UltronDestroyer commented on #37
It seems that way. But when you look at how much of the base husky had to be changed so that we could add arms and make a standard configuration (derived from business requirements), then it is clear that it is actually not as much of an extension as it is a type of base platform.

Disagree. From a customer POV what branches do:

"I just install this branch and use the code from it no configs/chan

[2016-11-29 20:17] tonybaltovski commented on #37
1. This is useful to the base husky.
2. Could the parent links not be changed by environment variable? If not, this could be an useful addition.
3. This is useful to the base husky. @jeff-o was even asking for this.
4. This could be contained in a xacro that URDF_EXTRAS will point to.

[2016-12-01 15:19] paulbovbel commented on #37
+1 to all that @tonybaltovski

@TheDash those things that had to be done to the general model to support customization, but are still general purpose.

The key is how to chain the customizations properly via env-vars -> roslaunch args -> xacro, which I think we've gotten better at over time.

Let's not go down the road of trying to agree what 'installing' a branch means.

[2016-12-03 16:28] wxmerkt opened #38 "FLIR PTU Bumblebee mounting bracket not part of model"
The mounting bracket connecting the Bumblebee2 to the PTU isn't part of the Dual Arm Husky URDF and the centre of rotation thus offset by the height of the bracket. Could you please add the bracket to the model/repository/URDF?

Thanks

Cf. https://github.com/husky/husky/tree/dual_ur5_husky/husky_description/meshes/accessories and https://github.com/husky/husky/tree/dual_ur5_husky/husky_descriptio

[2016-12-03 16:57] wxmerkt commented on #38
Actually, self-observing with a camera mounted atop the rear end the whole mounting appears to be off, shifted for both the base of the PTU and the bracket for the bumblebee (this is after adding a 2cm offset for the bracket):

![screenshot-2016-12-03_16 56 02](https://cloud.githubusercontent.com/assets/1664508/20860830/91247c44-b979-11e6-80b0-4d15e4184478.png)

[2016-12-03 17:10] wxmerkt commented on #38
It's off both in X and Y because the base_link has an offset from the mount_link due to the morphology of the PTU, cf:

![screenshot-2016-12-03_16 56 02](https://cloud.githubusercontent.com/assets/1664508/20860922/645cb31e-b97b-11e6-82c6-de283758db06.png)

![screenshot-2016-12-03_17 09 44](https://cloud.githubusercontent.com/assets/1664508/20860924/689d04f6-b97b-11e6-8767-9f5caaa883f0.png)

[2016-12-03 17:52] wxmerkt commented on #38
I've proposed a partial fix to this in #39. There's an upstream issue to add the mounting bracket: https://github.com/ros-drivers/flir_ptu/issues/31

[2016-12-06 16:20] wxmerkt opened #40 "UR5 Stow Scripts not working"
Hi @TheDash
The stow scripts for our UR5s are not working, it waits forever for the server to come up. We are running firmware version ``3.2.18744`` and the same issue has been reported upstream (https://github.com/ThomasTimm/ur_modern_driver/issues/27#issuecomment-220976342).

Have you run the stow script on the robot and do you have any idea why it may be "waiting for server" forever?

For now w

[2016-12-06 16:37] UltronDestroyer commented on #40
It is possible that the drivers for the arm aren't coming up/crashing. What does your rostopic list say? Can you ping the arms? What happens when manually launching the arm drivers in /etc/ros/indigo/husky-core.d?

[2016-12-06 16:41] wxmerkt commented on #40
The drivers work definitely because we are commanding the arms via a SimpleActionClient at the same time when the stow scripts dont work (just tried again).

Manually launching the arm drivers makes them conflict with the ones loaded on boot and they restart alternating - causing communication delays. We figured out that the best mode to operate the robot is to turn on the husky, turn on the arms,

[2016-12-06 16:53] wxmerkt opened #41 "Microstrain Automatic Magnetometer Calibration"
We are seeing a yaw drift from the ROS EKF when stationary. Trying to run the calibration as outlined in the [Husky instructions](https://www.clearpathrobotics.com/assets/guides/husky/InstallHuskySoftware.html#calibrating-the-magnetometer) doesn't work:

[code]

The Husky is rocking while rotating. Any advice on whether this script should work for the Microstrain IMU on the Dual UR5 Husky?

cc @Th

[2016-12-06 16:54] UltronDestroyer commented on #40
Is this an issue with ur_modern_driver then? If it's waiting for server it means that the ur_modern_driver isn't publishing the topic its looking for. Server in this case is referencing the simple action server/trajectory server. If it is indeed up, looks like it might be namespacing issue and a topic relay/remapping will be required.

Can you post your rostopic list and rosservice list for the ro

[2016-12-06 17:15] wxmerkt commented on #40
Oh yeah, it was a namespacing issue. After changing to the same topic that we use for our working action client, it can now connect to the server and says so but doesn't move:

[code]

I added debug printing and it apparently receives a result immediately after sending the goal (i.e. it immediately completes wait_for_result without having moved at all

[2016-12-06 17:22] UltronDestroyer commented on #40
Is it in stowed position already? Modifying https://github.com/husky/husky/blob/indigo-devel/husky_control/scripts/stow_ur5#L11 can change its stow position

[2016-12-06 17:33] wxmerkt commented on #40
Nope, I've moved it into a non-stowed position using our planning/execution pipeline. It still didn't move when commanding to stow it.

[2016-12-06 22:59] paulbovbel commented on #41
Magnetometer calibration is only used with a UM6/UM7 IMU, due to the software imu_filter_madgwick instance used in the pipeline.

Microstrain provides their own proprietary hard/soft iron calibration tooling, please open a zendesk ticket for support.

[2016-12-06 22:59] #41 closed, assigned to nobody

[2016-12-06 23:00] #17 closed, assigned to nobody

[2016-12-06 23:01] wxmerkt commented on #41
Thanks, was wondering whether it was meant to work

[2016-12-07 13:30] UltronDestroyer commented on #40
Could you confirm what command is being run?

should be something like

rosrun husky_control stow_ur5_left

In addition, can it be confirmed that l_arm_controller/follow_joint_trajectory is up when that is called? The code does this:

move() gets called, but its unclear whether or not its successful from this block. I see you've dug further than this already. If it's returning immediately, we shou

[2016-12-07 13:47] wxmerkt commented on #40
a) command being run is ``rosrun husky_control stow_ur5_left``
b) I had to change the SimpleAction client to "husky_left_ur5/follow_joint_trajectory" which is the one we are successfully using for executing our trajectories. With the "l_arm_controller" it waits forever for the server to come up.
c) It exits the move() method immediately from the "wait_for_result" line (confirmed by adding a print

[2017-01-20 18:56] tonybaltovski commented on #13
Is this still an issue?  ros-planning/moveit_ros#584 was merged.

[2017-01-24 15:05] paulbovbel commented on #13
Also moveit dependencies have been removed from kinetic

[2017-01-24 15:05] #13 closed, assigned to nobody

[2017-01-25 19:51] paulbovbel commented on #37
UR5 and moveit related pieces have been removed from kinetic-devel for purposes of release.

urdf_extras and config_extras in launch files are provided as hooks to inject addition robot description, or control parameters. Providing a UR5 customization package on top of the 'base' husky is best-effort at this point.

[2017-01-25 19:51] #37 closed, assigned to nobody

[2017-02-09 15:46] Raffa87 commented on #27
Hi,
I am getting the same problem, but change of kinematic solver doesn't help me :(

[2017-02-09 19:01] CMobley7 commented on #27
Is this in simulation or on a physical husky?

[2017-02-10 08:24] Raffa87 commented on #27
On a physical husky

[2017-02-13 21:51] CMobley7 commented on #27
The husky_ur5_planning_execution.launch file I used was slightly different than the default.

[code]

Also, are you running all of the following commands?

[code]

[2017-04-14 18:13] renweizhukov opened #47 "husky_playpen.launch doesn't enable the LiDAR even if laser_enabled is set to true."
Clone the repository and check out the branch "kinetic-devel". Run the Husky AMCL Demo on ROS kinetic given at http://wiki.ros.org/husky_navigation/Tutorials/Husky%20AMCL%20Demo. Due to the absence of LiDAR in the simulated husky, AMCL doesn't work.

The root cause is that since the flag "multimaster" is false, husky_description/description.launch is launched twice: first from husky_gazebo/spawn_h

[2017-05-02 07:57] nobinov opened #49 "Invalid parameter "robot_namespace""
Hello,

I am willing to run Husky Robot on my Gazebo. However, I'm using Kinetic, and current stable version of Husky in repo is still Indigo. So I tried to cloned this repo to my new catkin workspace, compiled it using `catkin_make` and run `roslaunch husky_gazebo husky_empty_world.launch `.

However, I got this error:
Invalid parameter "robot_namespace"
XacroException('Invalid parameter "robot_n

[2017-05-03 14:18] tonybaltovski commented on #49
The lms1xx package hasn't been released with the needed changes for this.  If you install it from source it will work.

Let me know how it goes.

[2017-05-04 09:13] nobinov commented on #49
It works!
(At least until now the Husky spawned and simulator run properly. I still didn't try laser sensor (lms1xx) yet)

Thanks for the advice.

[2017-05-04 15:56] #47 closed, assigned to nobody

[2017-05-04 19:38] tonybaltovski commented on #49
Just released 0.1.6 of LMS1xx.  It should be synced soon.

[2017-05-04 19:38] #49 closed, assigned to nobody

[2017-05-08 22:13] tonybaltovski commented on #38
@wxmerkt @TheDash I am going to close this since it part of the Dual Arm Husky URDF.

[2017-05-08 22:13] #38 closed, assigned to nobody

[2017-05-08 22:15] tonybaltovski commented on #40
@wxmerkt @TheDash I am going to close this since it part of the Dual Arm Husky.

[2017-05-08 22:15] #40 closed, assigned to nobody

[2017-05-10 13:14] gmsanchez opened #50 "Different odometry/filtered results on different computers"
Hi,

I am simulating Husky on ROS Kinetic on Ubuntu 16.04.2. I was trying to make some controllers in order to find the velocities that drive the Husky to a desired point in space, but I started to get different results on differents computers (my notebook and my desktop). I found out that odometry/filtered change a lot from one computer to the other and I can't figure out why is that happening.

[2017-05-10 14:44] paulbovbel commented on #50
This is very much not a husky issue.

If you can attach actual data and document your findings with more detail ('change a lot' is not very valuable to anyone trying to help), you should post them to ROS Answers and see if the greater ROS community can help explain what you're seeing.

It may be an issue with simulation, with sensor processing, or (since you're feeding velocity commands open-loop

[2017-05-10 14:44] #50 closed, assigned to nobody

[2017-05-10 19:38] gmsanchez commented on #50
Thanks for the feedback. I know that the description I provided is very vague, but I thought that providing the example where the odometry/filtered doesn't work well was enough. I will gather some more data and post this question to ROS Answers.

[2017-06-02 02:22] yinzixuan126 opened #52 "cannot find multimaster_launch"
I couldn't find multimaster_launch package when i launched husky empty world launch.

After search on google and ros wiki , i found one package named multimaster, but  it doesn't seem like the right one. http://wiki.ros.org/multimaster

[2017-06-02 02:28] tonybaltovski commented on #52
Which distro are you testing this on?

[2017-06-02 05:00] yinzixuan126 commented on #52
sorry for ignoring branch level. I am using indigo version.

[2017-06-02 13:07] #52 closed, assigned to nobody

[2017-06-14 18:45] UltronDestroyer opened #62 "ros-kinetic-diagnostic-aggregator not found by rosdeps"
Not sure why, as it is in fact in a deb package and has been released and can be installed. Is there something I'm missing? Per https://travis-ci.org/husky/husky/jobs/242931316 travis we're missing it for Kinetic.

[2017-06-15 15:19] UltronDestroyer commented on #62
Seemed to be due to using shadow-fixed

[2017-06-15 19:35] UltronDestroyer commented on #62
Closed. Fixed #

[2017-06-15 19:35] #62 closed, assigned to UltronDestroyer

[2017-06-27 18:02] krishnaallani opened #65 "Illegal bounds change"
Hello,

I followed the documentation on ROS WIKI to run the frontire exploration. Whenever I run the pacakge I am getting the follwing error:

`[ WARN] [1498586157.959931982, 1836.780000000]: Illegal bounds change, was [tl: (-99.975000, -99.975000), br: (100.025003, 100.025003)], but is now [tl: (-100.000000, -100.000000), br: (99.975003, 99.975003)]. The offending layer is explore_costmap/explore

[2017-07-17 06:09] hoppss opened #66 "How to simulate husky in ROS kinetic version"
I am a new learner to husky . I install the Kinetic and husky pacakge from this git.I meet following errors.Could you help me ?
`roslaunch husky_gazebo husky_empty_world.launch
... logging to /home/robot/.ros/log/82c86086-6a98-11e7-945c-000c29977d69/roslaunch-ubuntu-10295.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. U

[2017-08-23 16:35] mauricefallon opened #67 "kinetic apt packages"
Is there a plan to produce ROS Kinetic packages e.g. ros-kinetic-husky-description?
Or is it assumed people will compile from source?

- thanks!

[2017-08-23 18:41] djiglesias opened #68 "Broken URL"
Extremely minor - typo in URL.

[code]

"husly"

[2017-09-20 21:27] WillGrayMSU commented on #66
The indigo release is more stable, and is what I'd recommend to new learners.  That being said, your initial issue can be resolved by installing the mulitmaster_launch package.

`sudo apt-get install ros-kinetic-multimaster-launch`

Next you will need to install the Kinetic packages for the simulated LIDAR.

`sudo apt-get install ros-kinetic-lms1xx`

Beyond this, I am still working things out myse

[2017-09-21 11:41] shino-312 commented on #66
I needed the following packages to make it work in ROS Kinetic.
[code]

Also I installed the below somehow but they might not be needed actually.
[code]

[2017-11-23 22:33] andrestoga commented on #66
Hi,

I'm still getting the following errors but at least I can see the model of the Husky in Gazebo.

`spawner: error: unrecognized arguments: -shutdown-timeout 3
[base_controller_spawner-9] process has died [pid 20075, exit code 2, cmd /opt/ros/kinetic/lib/controller_manager/spawner husky_joint_publisher husky_velocity_controller - -shutdown-timeout 3 __name:=base_controller_spawner __log:=/home/

[2017-11-25 04:35] andrestoga commented on #66
To fix the following error:

`[FATAL] [1511579416.056199650, 0.173000000]: No matching hardware interface found for 'hardware_interface/VelocityJointInterface
[FATAL] [1511579416.056250253, 0.173000000]: Could not initialize robot simulation interface
`

Just replace the lines from 68 to 70 in this file:

https://github.com/husky/husky/blob/kinetic-devel/husky_description/urdf/wheel.urdf.xacro

wi

[2017-12-20 17:33] kimngn opened #71 "navigation stack issues"
Hello, I am using Husky Clearpath A200 with LiDAR velody VLP-16 Velodyne. I am trying run simple command for move base in navigation stack. Because of my laser scanner is 3D, I use the package pointcloud_to_lasercan to convert it to 2D scan. I ran command to run the move base and here is the errors I got:
**In move_base command terminal**
roslaunch husky_navigation move_base_mapless_demo.launch
![

[2018-01-03 08:56] AdityaPrakash23 commented on #66
Hello There!
I am trying the Husky robot simulation for ROS kinetic. I am following the steps in [http://wiki.ros.org/husky_gazebo/Tutorials/Simulating%20Husky](http://wiki.ros.org/husky_gazebo/Tutorials/Simulating%20Husky). But I am getting this error
`ERROR: cannot launch node of type [controller_manager/spawner]: controller_manager
ROS path [0]=/opt/ros/kinetic/share/ros
ROS path [1]=/home/adit

[2018-01-05 19:29] tonybaltovski commented on #71
Looks like there is are some timing issues. Have you tried to sync the computer's clocks from section 4 [here](http://wiki.ros.org/ROS/NetworkSetup)?

[2018-01-05 19:43] tonybaltovski commented on #68
Thanks, fixed in c632ddb6ff8cb36f07e15079e3a7513818b91942.

[2018-01-05 19:43] #68 closed, assigned to nobody

[2018-01-14 21:49] Abduoit opened #72 "Visual servoing with husky-ur5 ???"
Hi
I have husky-ur5 robot, I am able to control the arm and mobile robot by Moviet and rviz, but I still need to control the ur5 based on the movement of my real hand (i.e object tracking with depth sensor)

Anyone can help me how to do object tracking with ur5 arm ???

[2018-01-15 19:42] majcote commented on #72
Hello!

Great questions! Unfortunately this isn't quite the correct place for it, that's not something that we can inherently support. Your best bet would be to ask the  ROS answers community, (https://answers.ros.org/questions/)  there's usually plenty of ROS experts there that will be willing to help, and often even many of our own developers.

Best of luck!

[2018-01-15 19:42] #72 closed, assigned to nobody

[2018-01-24 00:01] andermi commented on #65
I have the same issue when following instructions [here](http://wiki.ros.org/husky_navigation/Tutorials/Husky%20Frontier%20Exploration%20Demo) from the husky tutorials

[2018-03-06 16:40] wxmerkt opened #73 "Dual UR5 Husky Velodyne frames not part of URDF"
Hi,
Opening this ticket here since the @DualUR5Husky repository doesn't allow the creation of issues.

**Problem:** The bulkhead CAD model includes the VLP16, i.e. there is no frame information part of the URDF. Thus, no ``velodyne`` frame exists and the sensor data which is published cannot be displayed or used otherwise.

**Solution:** The velodyne frame could be added as a fixed transform from

[2018-03-07 15:30] tonybaltovski commented on #71
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2018-03-07 15:30] #71 closed, assigned to nobody

[2018-03-07 15:31] tonybaltovski commented on #65
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2018-03-07 15:31] #65 closed, assigned to nobody

[2018-03-07 16:22] dniewinski commented on #73
Hi.  Thanks for noticing this.  I've added the frame to the URDF in the dual_ur5_husky branch.

[2018-03-07 20:02] wxmerkt commented on #73
Thanks, tested and appears to work. Please note that you added it to the branch here which is different from the branch/integration in @DualUR5Husky (I cherry-picked and it works).

[2018-03-07 20:02] #73 closed, assigned to nobody

[2018-03-16 16:51] luiscarlosfeliz opened #74 "Bug on husky control from kinetic"
You have this line on the launch file from control.launch in kinetic-devel. It looks like a mistake..

`<arg name="kinect_enabled" default="$(optenv HUSKY_UR5_ENABLED `false)"/>`

[2018-03-16 16:53] luiscarlosfeliz opened #75 "UR5 support on kinetic-devel"
I've noticed some changes from indigo to kinetic devel, like the UR5 argument that disappeared form the description file. Is it possible to launch the ur5 manipulator with the kinetic version?

[2018-03-16 17:01] tonybaltovski commented on #74
Thanks!  Fixed in e58246decd57d6b670b6c0ce9f3c5b4ca7d4d470.

[2018-03-16 17:03] tonybaltovski commented on #75
We are in the process of moving out the manipulator packages from the core Husky packages to [here](https://github.com/husky/husky_manipulation).  They have only been tested for Indigo so far.

[2018-03-21 17:55] #74 closed, assigned to nobody

[2018-03-21 17:57] dniewinski commented on #67
Sorry for the delay on this. Kinetic is currently in development and we are are hoping to release it within the next month or two. When that happens, pre-compiled debs will be made available as well.  This issue will be updated when that is completed.

[2018-03-21 17:59] dniewinski commented on #66
These issues have been fixed in the kinetic-devel branch. When building from source, I recommend you use rosdep to handle installing all of your dependencies.  Kinetic is currently in development and we are are hoping to release it within the next month or two.

[2018-04-12 03:58] tonybaltovski commented on #75
Closing to due inactivity, please feel free to reopen if the needed.

[2018-04-12 03:58] #75 closed, assigned to nobody

[2018-04-12 03:58] tonybaltovski commented on #25
Closing to due inactivity, please feel free to reopen if the needed.

[2018-04-12 03:58] #25 closed, assigned to nobody

[2018-04-13 05:07] SeanGuoXuan opened #78 "Husky wheels in RViz error"
I am following the instruction on how to[ setup Husky in Kinetic](https://answers.ros.org/question/256756/how-to-install-husky-simulator-in-kinetic/). However, when I start gazebo and RViz, Husky wheels appear display correctly in gazebo but fail in RViz. 4 wheels missing and wheel_link is giving error:
front_left_wheel_link No transform from [front_left_wheel_link] to [odom]

I don't find any pro

[2018-04-13 17:37] tonybaltovski commented on #78
We recently released the Husky packages for Kinetic.  They aren't in the main repository but in [shadow-fixed](http://wiki.ros.org/ShadowRepository).  Could you try those instead?

[2018-04-13 17:39] tonybaltovski commented on #66
We recently released the Husky packages for Kinetic. They aren't in the main repository but in [shadow-fixed](http://wiki.ros.org/ShadowRepository). That would be the best way to get the simulation running till they are synced.

[2018-04-13 17:39] #66 closed, assigned to nobody

[2018-04-13 17:39] tonybaltovski commented on #67
We recently released the Husky packages for Kinetic. They aren't in the main repository but in [shadow-fixed](http://wiki.ros.org/ShadowRepository). That would be the best way to get the package till they are synced.

[2018-04-13 17:39] #67 closed, assigned to nobody

[2018-04-15 07:10] stevealbertwong opened #79 "husky move base demo: navigation goal failed to move"
hi i followed this demo:
http://wiki.ros.org/husky_navigation/Tutorials/Husky%20Move%20Base%20Demo
but when i put in navigation goal husky does not move
i am running indigo

in rviz there is robot model error e.g.
front_left_wheel_link
No transform from [front_left_wheel_link] to [odom]

rear_right_wheel_link
No transform from [rear_right_wheel_link] to [odom]

![screenshot from 2018-04-15 15 09 2

[2018-04-22 20:54] Abduoit opened #80 "Husky gmapping navigation ??"
Hi

I run Husky `gmapping_demo` file with gazebo, everything is fine. However, I am getting different results when I run it with real husky (physical experiment). When I run `gmapping_demo` asking husky to move forward, husky move forward for short distance then starts to rotate around itself, navigation process is not good.

Based on this [Clearpath tutorial](http://www.clearpathrobotics.com/asse

[2018-04-27 21:28] Abduoit opened #81 "Does Husky_ur5 desciption package support Kinetic ROS version ???"
Hi

I am running husky_ur5 packages with ubuntu 14.04 and ROS `indigo`, and everything works fine.

Now, I have to switch to use Ubuntu 16.04 with ROS `kinetic`. Is everything in husky_ur5 compatible with this combination.

Thanks

[2018-04-29 19:41] wxmerkt opened #82 "DualUR5Husky Robotiq missing commits and upstreaming"
Hi,
Again opening an issue here as @DualUR5Husky repositories do not have ability to open issues:

The robotiq fork in DualUR5Husky is not working - it is missing some commits, including the crucial change we discovered with @tonybaltovski to make the FT driver work (changing to CLang):

https://github.com/DualUR5Husky/robotiq/commit/22967385fc265ef284930e112e5c458f56963b22

The commit is not part

[2018-05-14 05:50] hoppss opened #83 "amcl doesnot avoid obstacles actively"
Hi,

Now amcl will not avoid obstacles if there are new obstacle in the workspace that does not log in gmapping maps.

How should we modify this pkg ?

[2018-05-14 13:54] tonybaltovski commented on #83
@hoppss can you give more details about what you are using?  (ie real vs sim)  Also, are you using indigo or kinetic?  I see to explicit issues with this on the navigation repo.

[2018-05-14 13:56] tonybaltovski commented on #80
@Abduoit This should be a good start into helping you tune the navigation: http://wiki.ros.org/navigation/Tutorials/Navigation%20Tuning%20Guide  Additionally, the parameters are located in these YAMLs: https://github.com/husky/husky/tree/indigo-devel/husky_navigation/config

Let me know if that helps.

[2018-05-14 13:58] tonybaltovski commented on #81
@Abduoit unforeuntly, kinetic is still not officially supported but will be soon!  The manipulator integrations have changed to use https://github.com/husky/husky_manipulation

Let us know if any questions.

[2018-05-14 14:00] tonybaltovski commented on #78
Closing due to inactivity, please feel free to reopen if it is still an issue.

[2018-05-14 14:00] #78 closed

[2018-05-14 14:02] tonybaltovski commented on #79
Is this a real robot or a simulation?

[2018-05-15 01:07] hoppss commented on #83
Hi ,
sorry.
We bought both  husky and jackal . I found jackal ( not husky, sorry) didnot avoid obstacles when i run jackal repo 's  navigation package  with a map that i made by gmapping.
It looks like the local planner doesnot work.

[2018-05-16 21:07] aarontan-git opened #84 "g-mapping demo (purple overlay)"
Hello,

I am running Ubuntu 16.04 + ROS Kinetic.

When I run the husky gmapping demo, I get this purple overlay in rviz (see attached image). I have ran the same demo in ROS Indigo with Ubuntu 14.04 and there wasn't any purple overlay.

Can someone explain what this is? How do I get rid of it?

![gmapping](https://user-images.githubusercontent.com/35575286/40144086-5fbb0896-592b-11e8-9838-96cf9ae2

[2018-05-18 13:06] dniewinski commented on #84
Good morning Aaron.  That large purple bubble is showing the positional covariance of the robot's odometry.  This bubble was added in Kinetic.  To turn it off in RViz, under Displays, expand Sensing > Odometry > Covariance.  You can un-check Position and it will stop showing up, or you can change the alpha or colour so it is less noticeable

[2018-05-18 13:06] #84 closed, assigned to nobody

[2018-05-19 16:20] aarontan-git opened #85 "AMCL Demo Pose Estimate?"
Hello,

I have a question about the initiation process of the AMCL Demo.
In the tutorial, it mentions to do: "Use the 2D Pose Estimate tool in the top toolbar to give amcl an initial pose estimate. Without an initial estimate, the Monte Carlo localization approach is unlikely to converge the correct pose. "

I am wondering, for simulation - is this as simple as using the 2D Pose Estimate arrow and

[2018-05-23 15:40] tonybaltovski commented on #85
@aarontan94, it is the same process for the real robot, the AMCL demo is platform agnostic.

[2018-05-23 15:42] tonybaltovski commented on #83
@hoppss are the laser's frame and topic correct?

[2018-05-23 18:14] aarontan-git commented on #85
@tonybaltovski I am more wondering about the specifics. How do I actually use the 2D pose estimate tool? Is it as I described?

[2018-05-23 18:23] tonybaltovski commented on #85
@aarontan94 Yup, just like that. By clicking the `rviz/SetInitialPose` you are publishing to AMCL's `initialpose` topic. (for reference: http://wiki.ros.org/amcl?distro=kinetic)

[2018-05-23 18:26] aarontan-git commented on #85
@tonybaltovski thank you!

[2018-05-23 18:26] #85 closed, assigned to nobody

[2018-05-26 12:12] stevealbertwong commented on #79
simulation

[2018-05-28 03:01] tiberium24 opened #86 "Problem launching simulation"
After catkin making and trying to run this roslaunch husky_gazebo husky_empty_world.launch

i get the following error:

while processing /home/john/husky_indigo_ws/src/husky/husky_control/launch/control.launch:
Invalid <arg> tag: Invalid left parenthesis '(' in substitution args [$(eval optenv('HUSKY_CONFIG_EXTRAS', find('husky_control') + '/config/empty.yaml'))].

Can you check if the latest vers

[2018-05-28 03:21] tonybaltovski commented on #86
Hey @Ioannisvt, I noticed that have an Indigo workspace. That error would come code in the kinetic branch,  are you on the indigo-devel branch?

[2018-05-28 03:24] tiberium24 commented on #86
You are right, I didn't notice in my hurry, thank you!

[2018-05-28 05:15] tonybaltovski commented on #86
No worries!

[2018-05-28 05:15] #86 closed, assigned to nobody

[2018-05-29 15:25] luiscarlosfeliz opened #87 "Setting back LOGITECH control"
Hi, you made me lose sometime until I realized you made this commit:
`862fd9c7df6bf3b57f9895f94e59003bcc460426
`
How do I set back the controller, I'm not being able to set the environment variable.

thank you

[2018-05-29 16:04] tonybaltovski commented on #87
How are you setting the environment variable? Also, how are you starting the teleop node?

[2018-05-30 10:42] luiscarlosfeliz commented on #87
teleop node just like this:
[code]

the husky nodes in general like this:

[code]

[2018-05-30 13:06] tonybaltovski commented on #87
Where do you do `export HUSKY_LOGITECH=1`?  Is `teleop.launch` started by `robot_upstart` or in the foreground?

[2018-06-11 10:56] bfalacerda opened #88 "husky_navigation has move_base publishing to wrong vel topic"
I'm trying to run the basic move_base stuff using the ``husky_navigation`` launch files but ``move_base`` is publishing to ``/cmd_vel``. This doesn't make the robot move due to the mux setup.  It's happening since the commit below:

https://github.com/husky/husky/commit/5a5f0de2b4e00e4acb46928004fcce10404a92b6

The remap removed above is required, or am I missing something?

[2018-06-12 05:36] hoppss opened #89 "How to pub odom topic and transfrom to base_link"
Hello, for a real husky, only base,without imu.
If we need to publish its odometry topic from its encoder data alone, should i modify the  **enable_odom_tf** to true  from ./husky/husy_control/config/control.yaml ? and it will produce the transform between odom and base_link ?

[2018-06-12 11:21] tonybaltovski commented on #88
That is certainly odd, that remap was for internal testing.  The mux should respond to `cmd_vel` according to the config [here](https://github.com/husky/husky/blob/kinetic-devel/husky_control/config/twist_mux.yaml#L11).  I will test this as soon as I can.  Is there any chance something else is publishing to the `twist_mux` or that there is a clock skew between the robot's computer and what is send

[2018-06-13 09:05] bfalacerda commented on #88
ah! sorry, my bad, we misconfigured that file... all is good. Thanks for the quick reply.

[2018-06-13 09:05] #88 closed, assigned to nobody

[2018-06-18 14:04] dniewinski commented on #87
As Tony said, you should be able to re-enable the Logitech if you are using Kinetic by exporting HUSKY_LOGITECH=1 (as stated above).  You will want to do this in /etc/ros/setup.bash.  If you've done this you can tell if it started up properly by running "rosparam get /joy_teleop/joy_node/dev".  If this says "/dev/input/js0", then it is trying to use the Logitech properly.

If that is the case, you

[2018-06-19 03:08] hoppss commented on #83
@tonybaltovski you are right!
Thank you very much. May you have a good day.

[2018-06-19 15:06] tonybaltovski commented on #83
@hoppss was this integrated by us?

[2018-06-20 06:41] hoppss commented on #83
no.
It is well to simulation with jackal gazebo model.
I clone it to my pc to run it with a real jackal, I didnot modify the frame parameters completely.

[2018-06-20 14:55] dniewinski commented on #87
Please let us know if you have resolved the issue and we can close this ticket.

[2018-06-22 02:57] tiberium24 opened #90 "Kinect,sensor type not supported"
Hello,

When i try to run the husky empty world, i am getting conversion of sensor type depth not supported for the kinect in gazebo. I am also not seeing anything in topic camera/depth/camera_info. I have to have some info there published i believe. Do you know why?

[2018-06-22 19:42] dniewinski commented on #79
Looking in your one window, it looks like your controller spawner couldn't create the controller properly when launch the gazebo simulation. If you launch just the simulation, does it start without errors?  If it does, can you send it a cmd_vel from another terminal?

[2018-06-22 19:44] dniewinski commented on #89
Even if you have just a base husky without an IMU, the base controller will be publishing wheel odometry, which the EKF will use to publish a translation from odom.  Is this not happening?

[2018-06-22 19:45] dniewinski commented on #87
As we have not heard back and there is an environment variable to solve this issue, we will be closing this ticket.  If you are still having issues after following the steps above, please open another ticket.

[2018-06-22 19:45] #87 closed, assigned to nobody

[2018-06-22 19:46] dniewinski commented on #83
@hoppss Glad to hear everything is working.  Closing the ticket

[2018-06-22 19:46] #83 closed, assigned to nobody

[2018-08-22 20:34] tiberium24 opened #96 "How to access sensor's measurement values?"
I believe that by odometry_filtered i am accessing only the corrected values. I also want to have access to the measured ones from GPS, etc. Is that possible and how/where?
Thank you

[2018-08-22 20:36] tiberium24 commented on #96
Having the fused values is what i want actually.

[2018-09-04 02:42] arunavanag591 opened #97 "No Map received in Rviz"
Hello,
I have a mounted pepperl&fuchs laser on my husky top plate.
My laser launch file:
[code]

I am trying to launch the gmapping in husky_navigation (not the gmapping demo):

The launch file is:
[code]

In rviz:
![image](https://user-images.githubusercontent.com/11879643/45007181-37bec200-b02f-11e8-8477-78b954a2d533.png)

My tf tree:

![image](https://user-images.githubusercontent.com/11879643/

[2018-10-08 01:05] abhileshborode opened #98 "Improper husky figure formed in gazebo"
I am using ROS kinetic. I have a package which launches the husky robot in gazebo, however the gazebo figure launched looks like this:

![screenshot from 2018-10-07 19-01-30](https://user-images.githubusercontent.com/33388291/46589160-e194d280-ca63-11e8-9c59-90ec2fb22061.png)

Please let me know if editing any particular urdf files would fix this issue or not ?

[2018-10-17 20:27] tonybaltovski commented on #98
Duplicate of husky/husky_simulator#39

[2018-10-17 20:27] #98 closed, assigned to nobody

[2018-10-17 20:32] tonybaltovski commented on #80
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2018-10-17 20:32] #80 closed, assigned to nobody

[2018-10-17 20:33] tonybaltovski commented on #81
Kinetic has been released.
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2018-10-17 20:33] #81 closed, assigned to nobody

[2018-10-17 20:33] tonybaltovski commented on #89
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2018-10-17 20:33] #89 closed, assigned to nobody

[2018-10-17 20:33] tonybaltovski commented on #79
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2018-10-17 20:33] #79 closed, assigned to nobody

[2018-10-19 10:45] ManolisCh opened #99 "Strange model behaviour in gazebo with certain URDF configurations"
Hi,

I was giving a go to gazebo simulated husky by running `roslaunch husky_gazebo husky_playpen.launch` and  `roslaunch husky_control teleop.launch`. I have noticed a strange behaviour when I command the robot to turn in place but also in movement.

Basically the robot would not turn in place most of the times and it would slide slow or faster towards one random direction. This is with linear ve

[2018-10-20 23:38] abhileshborode opened #100 "Melodic rosdep defination"
On running

roslaunch husky_gazebo husky_empty_world.launch
I get the following error
... logging to /home/abhilesh/.ros/log/7779b0f2-d4c0-11e8-9d77-bc8556ce29bb/roslaunch-abhilesh-Ubuntu-30317.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

xacro: in-order processing became default in ROS Melodic. You ca

[2018-10-21 22:20] tonybaltovski commented on #100
You are missing the `lms1xx` package.

[2018-10-21 23:06] abhileshborode commented on #100
Yup the erros says the same thing.... Although I couldn't figure out how to install lms1xx in melodic.
Is it even released in melodic ?

[2018-10-22 01:32] abhileshborode commented on #100
So I cloned the lms1xx from clearpaths into my husky ws and added the following patch to make the build successful

https://github.com/ros/ros-overlay/blob/3152891873f0e608d3937c306acc66afe2c8bec4/ros-indigo/tf2/files/0001-Update-call-to-logError-and-logWarn.patch#L18-L19

I am successfully able to launch husky in gazebo 9 in melodic :
![screenshot from 2018-10-21 18-49-29](https://user-images.git

[2018-10-23 21:53] tonybaltovski commented on #100
Looks like you a building a different branch or older commits, none of the ur stuff should be in the latest kinetic-devel.  As for the rest, I don't see them release for melodic.  Maybe, poke their maintainers?

No worries!

[2018-11-21 19:39] tonybaltovski commented on #100
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2018-11-21 19:39] #100 closed, assigned to nobody

[2018-11-21 19:40] tonybaltovski commented on #96
Hello!

Great questions! Unfortunately this isn't quite the correct place for it, that's not something that we can inherently support. Your best bet would be to ask the ROS answers community, (https://answers.ros.org/questions/) there's usually plenty of ROS experts there that will be willing to help.

Best of luck!

[2018-11-21 19:40] #96 closed, assigned to nobody

[2018-11-30 03:46] FahadRazaKhan opened #102 "gazebo_ros_control pid_gains not set Error"
![screenshot from 2018-11-30 12-34-55](https://user-images.githubusercontent.com/22746659/49267253-dfb42200-f49c-11e8-9247-51b16c174ce8.png)

Hello guys,
I am trying to use husky_gazebo in ROS-Lunar. However, when I run the husky_empty_world.launch I get the error which is shown in the attached screenshot (for all of the four wheels). After searching through internet I have found the solution, whi

[2018-12-20 20:47] kkroeger007 opened #103 "Stability of Kinetic Branch"
@tonybaltovski there have been a lot of questions online regarding the stability of the kinetc branch of software in regards to both the simulation and hardware environments. When pulling from the repository and building from source there aren't any issues, however, there are tons of issues during execution.  Is the kinetic branch stable or is there another preferred branch? Is there a gazebo vers

[2019-01-27 17:11] Sdehnavi opened #104 "Multi Husky Robots don't move when writing in their cmd_vel topic"
Hi,

I am using husky_gazebo package for simulating multi husky robots by launching "multi_husky_playpen.launch". The simulation is running and the environment and all the topics are created but noting happens when I write into /husky_velocity_controller/cmd_vel topic of each robot.

[2019-02-06 11:29] jocacace opened #105 "linear motion while rotating"
Hi guys,

I am addressing a problem controlling the husky robot in the gazebo simulator.
I just spawn a husky robot in an empty gazebo world. I am trying to rotate on the place ( I suppose that I am able to do with this platform since it has a differential traction ). For this reason, I just published a geometry_msgs::Twist message filling the .angular.z field with a fixed velocity (let's say 0.3

[2019-02-19 08:48] ChadLin9596 opened #106 "How to read imu data from Husky"
Hello guys,
I am using my laptop with ros kinetic to control the Husky.
I could connect the Husky with `/dev/ttyUSB0`, then tried `roslaunch husky_bringup um6.launch` with port `/dev/ttyUSB0`, but there isn't any msg in topic `/imu/data` or `/imu_um6/data`.
Does anyone know how to get the imu data from um6 or um7?
All port name in `/dev` is as below.
![52387470_350439362477717_5230083411229540352_

[2019-02-25 20:31] skyofyao commented on #102
I had the same question. That was because when initializing RobotHWSim, the robot_ros_control tries to load the pid_gains. The code and corresponding comments are [here](https://github.com/ros-simulation/gazebo_ros_pkgs/blob/e42cc26a473733b05abc648181a6de1286105ed6/gazebo_ros_control/src/default_robot_hw_sim.cpp#L218). Basically, if pid parameters were found, they will be used to control the joint

[2019-02-26 00:45] FahadRazaKhan commented on #102
Hi @skyofyao  you are right. Thank you for sharing the code.

[2019-03-11 01:10] erinline opened #107 "Husky gmapping produces bad map in gazebo"
The husky appears to have bad position estimation while doing SLAM. I am running on ROS melodic, but everything else works fine. Doing the husky navigation tutorials. Are there parameters that need to be changed? I am including a picture of the map that results. It is not smooth, i.e. the husky can pass through an area and not label it clear, and it is improperly aligned.
![husky_map](https://user

[2019-03-29 04:49] shehancaldera commented on #78
I like to re-open issue #78 as I'm facing the same problem with simulating multiple huskies. I can't see their wheel links in the tf tree as well. Appreciate any help.

[2019-03-29 05:08] shehancaldera commented on #104
You need to publish to the topic that starts with the namespace i.e. h1/husky_velocity_controller/cmd_vel Check this video for some clarification : https://www.youtube.com/watch?v=mFTkN5v4Jzc

[2019-03-29 05:17] shehancaldera opened #108 "Husky wheels not showing in Rviz"
I like to re-open issue #78 as I'm facing the same problem with simulating multiple huskies. Even I tried with **ros-shadow-fixes**. But the problem remains. It's weird as sometimes it works if I re-install the packages and re-source the setup.bash.

When the problem occurs I can't see the wheel links in the tf tree as well. Appreciate any help. I can see that I'm using this release `(0.3.2-0xenia

[2019-04-25 09:14] dkati commented on #99
i have that too ->

[ WARN] [1539887432.825685562, 1298.690000000]: updateConfig() called on a dynamic_reconfigure::Server that provides its own mutex. This can lead to deadlocks if updateConfig() is called during an update. Providing a mutex to the constructor is highly recommended in this case. Please forward this message to the node author.

[2019-05-09 12:55] shrijan00 opened #110 "Husky/Jackal PID values missing"
So, I was using husky and Jackal for my application. I was not getting any error until i updated my protobuff in /usr/loca/include/google and gazebo. So now I'm getting this error for both the robot
![pid](https://user-images.githubusercontent.com/4169231/57454955-4dddeb80-726a-11e9-8caf-a14748cd9485.png)
Anybody has any idea about this? I don't think we need to add specifically PID values. It's j

[2019-05-18 11:58] saisandeepm3006 opened #111 "Melodic Support?"
I am using ROS-MELODIC and i want to install husky simulator in ros-melodic. Since husky-simulator is

[2019-06-06 18:16] epiception commented on #105
I'm having the same problem. Any quick solutions for this? Any changes that could be made in the controller yaml files?

[2019-08-08 10:16] luissantos27 opened #112 "Error launching husky_base on Raspberry Pi"
I get this error when I launch the husky_base on a raspberry PI with ROS kinetic.

EXCEPTION: TransportException 3: Unacknowledged send
[ERROR] [1565258419.702807681]: Error configuring velocity and accel limits: Unacknowledged send

The USB port has permissions and I changed it on the launch file. I compiled the husky software by source with the branch "kinetic-devel"

I saw that there was a bug

[2019-08-20 00:10] peci1 opened #113 "Wrong IMU topic for EKF with UM6/7 IMUs?"
Line https://github.com/husky/husky/blob/862fd9c7df6bf3b57f9895f94e59003bcc460426/husky_control/config/localization.yaml#L18 refers to topic `imu/data` which doesn't exist at least on our Husky A2 with UM6 IMU. We have topic `imu/data_raw`, however.

I see the `imu/data_raw` topic in configs for both UM6 and UM7, whereas the microstrain nodes seem to publish on `imu/data`. Do we do something wrong

[2019-08-21 14:25] tonybaltovski commented on #113
The data gets filtered using `imu_filter_madgwick` which subscribes in `imu/data_raw` and publishes `imu/data`: https://github.com/husky/husky/blob/kinetic-devel/husky_bringup/launch/um6_config/um6.launch#L23

[2019-08-21 14:26] tonybaltovski commented on #112
Did you install the udev rule for the USB-to-Serial adapter?

[2019-08-21 14:28] tonybaltovski commented on #107
Here is a starting point: https://answers.ros.org/question/269280/how-to-make-better-maps-using-gmapping/

In general, you need to tune the gmapping parameters for your use case.

[2019-08-21 14:28] #107 closed, assigned to nobody

[2019-08-21 14:29] tonybaltovski commented on #106
Can you post the output of when you launch `husky_bringup um6.launch`

[2019-08-21 14:29] tonybaltovski commented on #103
Which errors are you referring to?

[2019-08-23 23:27] peci1 commented on #113
Thanks, Tony. Our Husky went now for a trip home which will take some time, so I'll get back to you later when we receive it again. Or @rouceto1 might chime in.

When testing, I'm pretty sure that in rqt_graph, I saw the IMU filter publish to some topic which was not `imu/data`, and we wondered why nobody is subscribing the filtered IMU... So let's wait and I'll check then if we don't have some lo

[2019-08-25 13:28] vinbo opened #114 "How does the /cmd_vel topic drive the husky exactly?"
Hi, I'm new to the ROS structure. I see from the rqt_graph that the motion of the husky by exotic control is from the subscription of the topic /cmd_vel, right? Then my question is, how can i see the dynamic equations which describes the relation from /cmd to the real motion of husky? in which file can I see it?  which function subsribes the topic /cmd_vel? Thank you.
-------update line----
I foun

[2019-08-26 10:04] luissantos27 commented on #112
I don't think so. How could I do this? I am not getting an error with the serial connection, this only happens when I try to set the maximum velocity values.

[2019-08-26 14:13] tonybaltovski commented on #112
You can install it using `sudo cp $(rospack find husky_bringup)/udev/* /etc/udev/rules.d/ sudo udevadm control --reload-rules && sudo service udev restart && sudo udevadm trigger`.

Are you able to drive the Husky when you send non-maximum velocity values?

[2019-08-26 14:15] tonybaltovski commented on #114
The  [diff_drive_controller](http://wiki.ros.org/diff_drive_controller) is used for the Husky.  Since this is not an issue with this repo, I ask that you ask your question on [ROS Answers](https://answers.ros.org/questions/) if the link above does not clarify it for you.

[2019-08-26 14:15] #114 closed, assigned to nobody

[2019-08-26 14:17] tonybaltovski commented on #111
`husky_simulator` has been released for Melodic.

[2019-08-26 14:17] #111 closed, assigned to nobody

[2019-08-27 10:28] luissantos27 commented on #112
udevadm control --reload-rules && sudo service udev restart && sudo udevadm trigger`.

This did not work...

No, I'm not. The husky_node dies:

process[husky_node-1]: started with pid [20703]
process[base_controller_spawner-2]: started with pid [20704]
process[ekf_localization-3]: started with pid [20705]
process[twist_marker_server-4]: started with pid [20706]
process[robot_state_publisher-5]: st

[2019-09-10 15:42] peci1 commented on #113
Ok, I think I got it.

It seems the um6 driver [publishes `mag` as the old `Vector3Stamped` type](https://github.com/ros-drivers/um6/blob/a453de37c1622852906eea8c681cf05e0f837799/src/main.cpp#L189). This was handled by the [`use_magnetic_field_msg: false`](https://github.com/husky/husky/blob/13b74c1f95a51e3b445349d4c1176218ddb16b53/husky_bringup/launch/um6_config/um6.launch#L30) config in madgwick

[2019-09-10 17:32] tonybaltovski commented on #113
@peci1  Are you using a um6 or um7?  Which ROS distro are you targeting?

[2019-09-11 06:19] rouceto1 commented on #113
@tonybaltovski we are using um6 with melodic distro.

[2019-09-11 14:42] tonybaltovski commented on #113
This should fix your issue: https://github.com/ros-drivers/um6/tree/mag_msg
I will work on getting this merged soon.  Let me know if it works for you.

[2019-09-12 13:28] peci1 commented on #113
Thanks. I've tested the change and it works. However, concerning backwards compatibility, wouldn't it be nicer to set the new parameter to false by default and set it to true only in the launch file in this driver?

[2019-09-17 14:59] tonybaltovski commented on #113
It would and I will for Melodic since I released it already.  However, like `imu_filter_madgwick` it should eventually follow the REP.

[2019-09-30 14:45] tonybaltovski commented on #113
@peci1 I have updated to um6 and um7.  They have also been bloomed.  I will be bloom the Husky asap.  This should solve the issue but I will wait for you to confirm before I close it.

[2019-10-03 10:48] luissantos27 commented on #112
I have tried to do the same using a Jeston nano device, with all the packages installed via apt using ubuntu official ppas.
I'm getting exactly the same error! The robot works with a normal computer, so the problem is not on the base or in the RS232 adapter

[2019-10-07 17:34] paulsebastian97 commented on #105
Even I phased this problem. Could anyone help?

[2019-10-09 09:37] antoan opened #117 "Is there an installation guide for Kinetic?"
Or is the Kinetic setup pretty much the same as for Indigo?

Cheers,

Antoan

[2019-11-21 14:46] je5349 opened #118 "EXCEPTION: TransportException 3: Unacknowledged send"
We use to logitech's extreme 3d pro for control husky.
We change from "$(optenv HUSKY_LOGITECH 0)" to "$(optenv HUSKY_LOGITECH 1)" in husky_control/launch/teleop.launch file. (line 9 and line 13)
And we change "teleop.yaml" file in "husky_control/config" as shown below.

----------------------------------
teleop_twist_joy:
  axis_linear: 1
  scale_linear: 0.4
  scale_linear_turbo: 1.0

  axis_angu

[2019-11-25 01:38] je5349 commented on #118
We solved this problem.
The cause was a hardware problem.
Thank you.

[2019-11-25 01:38] #118 closed, assigned to nobody

[2019-12-03 18:29] Abduoit opened #119 "issue with service husky-core start ??"
Hello

I upgraded Husky image from indigo to kinetic, everything seems fine, light gets green and the joystick works. But there's issue with husky-core start.

Any suggestions please ??

[code]

[2019-12-15 15:23] lossemotion opened #120 "A turnning control bug in Kinetic?"
I use **keyboard_teleop** to send messages to the topic **cmd_vel** to control husky to turn left or right in place (press' j 'or' l 'all the time) in gazebo.  The normal result should be husky rotate in place or go round with a radius, but the situation of my car is. If I keep the default settings (only a laser enable), Husky is good, but if I set it to Kinect enable or laser disenable, Husky wil

[2019-12-18 04:18] stevensu1838 opened #121 "Error when following Husky Dual UR5 Mobile Manipulation Demo (Simulation)"
Hi,
I've been following the [Husky Dual UR5 Mobile Manipulation Demo (Simulation)](https://www.clearpathrobotics.com/assets/guides/husky/HuskyDualManip.html) tutorial. And I am on Controlling The Grippers session. I could control the gripper with no problem by running the following commands:
$ roslaunch husky_gazebo husky_empty_world.launch
$ rosrun robotiq_s_model_control SModelSimpleController.p

[2020-02-06 15:08] tonybaltovski commented on #82
Closing due to inactivity.  Please feel free to re-open if issue persists or if needs to addressed.

[2020-02-06 15:08] #82 closed, assigned to nobody

[2020-02-06 15:08] tonybaltovski commented on #90
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2020-02-06 15:08] #90 closed, assigned to nobody

[2020-02-06 15:09] tonybaltovski commented on #106
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2020-02-06 15:09] #106 closed, assigned to nobody

[2020-02-06 15:10] tonybaltovski commented on #103
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2020-02-06 15:10] #103 closed, assigned to nobody

[2020-02-06 15:11] #97 closed, assigned to nobody

[2020-02-07 07:05] eseJiHeaLim commented on #118
Can you tell me what hardware problem?
My problem is same with you.

[2020-02-18 02:47] je5349 commented on #118
I plugged the joystick into a USB hub that was connected to the upper control embedded board.
Since then I have noticed that the USB hub is running out of power.
I gave the USB hub an external power source and it worked fine afterward.

[2020-02-23 01:51] rmerriam opened #123 "Husky Laser and PC2 Topic Conflict"
Ubuntu 18.04
ROS Melodic
Husky Tutorial in simulation with Gazebo

This caused me some confusion so thought I'd mention it here.

Run the command:
[code]
The `/scan` topic reports both the actual laser and the kinect point cloud simulated laser on the topic but with different frames, i.e. base_link and laser_base, and values, i.e. base_link is at lower point on objects.

Might just need explanatio

[2020-02-25 05:04] ZakariaChekakta opened #124 "Driving husky in gazebo environment"
Hi,
I am testing the husky robot using Gazebo 9 and ROS melodic when I move the robot forward or backward, it working properly, but turning the robot to the left or the right, I noticed a strange behavior in the robot movement, Is that behavior normal or there is a bug needs to be fixed?

![husky_sim_test](https://user-images.githubusercontent.com/12950797/75216479-77efa280-57d7-11ea-953b-b8253594

[2020-03-11 18:29] tonybaltovski commented on #119
@Abduoit this was changed in Kinetic since Xenial uses systemd and not upstart.  Use: `sudo systemctl start ros`.

[2020-03-11 18:30] tonybaltovski commented on #113
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2020-03-11 18:30] #113 closed, assigned to nobody

[2020-03-11 18:33] tonybaltovski commented on #121
Use this repo instead: https://github.com/husky/husky_manipulation

[2020-03-11 20:48] #119 closed, assigned to nobody

[2020-03-13 02:40] lerolynn commented on #117
Clone the repository then
[code]

[2020-03-14 21:27] #117 closed, assigned to nobody

[2020-03-21 00:17] h3ct0r commented on #120
Hi, @lossemotion I'm having a similar issue, did you find the solution?
In my case the robot does not turn exactly in place in Gazebo, it does a weird go left - go front - go back - go left motion!. As seen in this video: [Youtube video with the Husky trying to perform an in-place rotation](https://youtu.be/yKhHC9QsZZY).

Regards!

[2020-03-21 01:09] h3ct0r commented on #124
I'm having the same problem (see video [https://youtu.be/yKhHC9QsZZY](ur)) This is also described in other issues such as [https://github.com/husky/husky/issues/120](url) and [https://github.com/husky/husky/issues/105](url). But so far the Clearpath team has not responded to these issues.

@tonybaltovski Hi! Can you take a look at this, please? It seems that there are multiple people reporting thi

[2020-03-21 04:18] lossemotion commented on #120
Hi, @h3ct0r  You can check if your friction coefficients of the four tires are same first.

As I have described above, I suspected that the traction of the right tire is bigger than the left, so I set the friction coefficients of the right tires as 0.5 and the left remains at 1，then it works fine……

It's strange. I can't explain the solution.

[2020-04-16 03:32] arenas7307979 opened #127 "husky_velocity_controller/odom convert to wheel right / left velocity"
hii,  I want to add a wheel encoder info to slam
But I can only receive husky_velocity_controller/odom message (angular and linear velocity) in husky_gazebo simulation.
I converted the wheel speed message through the following formula
![image](https://user-images.githubusercontent.com/5019568/79411211-e0d3e980-7fd4-11ea-981d-d029ebbd8a80.png)

the wheel intrinsic parameters: (from husky specifc)

[2020-04-20 04:15] adwiii opened #128 "[Question] Understanding the local planner config"
I have been working on simulating the Husky in various simple navigation tasks. I am using the [husky_cartographer_navigation](https://github.com/husky/husky_cartographer_navigation) setup on top of the standard husky_navigation. In these navigation tasks, the robot will sometimes drive very near to obstacles and collide with them when there is plenty of open space. I am going to make a separate p

[2020-04-28 09:11] #127 closed, assigned to nobody

[2020-04-30 11:10] staycoolish opened #129 "Husky Melodic Installation in Ubuntu 18.04"
Hello, when I try to install husky vie apt-get, that's what I obtain:

![Screenshot from 2020-04-30 14-03-14](https://user-images.githubusercontent.com/47630638/80703525-9c277280-8aeb-11ea-9940-1b500e89185c.png)

When I instead use source ( cloned **https://github.com/husky/husky.git** into catkin_ws/src , then make catkin_make at catkin_ws), when I try to launch it with **$ roslaunch husky_gazebo

[2020-04-30 13:17] staycoolish commented on #129
There was, apparently, a problem with ROS, I don't really know. Here's what I've done:
From http://wiki.ros.org/melodic/Installation/Ubuntu , I apply the all steps again, which took a short time. Then, I was able to install via **sudo apt-get install ros-melodic-husky-simulator** .

One other thing is, I was always sourcing my workspace (catkin_ws), and try to launch husky afterwards, and keep get

[2020-04-30 13:17] #129 closed, assigned to nobody

[2020-05-12 06:48] #124 closed, assigned to nobody

[2020-05-23 20:19] YoushaaMurhij opened #130 "Husky support on ROS neotic"
When it will be supporting the new ROS Neotic?

[2020-05-25 13:55] dniewinski commented on #130
We will be supporting Noetic, but there are no current plans in progress.  If you end up working on Noetic for your application, we are always accepting pull requests :)

[2020-05-25 13:55] #130 closed, assigned to nobody

[2020-06-02 16:30] civerachb-cpr commented on #105
This looks like it may be a glitch in Gazebo's physics.  Because Husky's wheels are fixed, when the robot turns on the spot they will skip and skid across the ground, which can result in some lateral movement.

[2020-06-02 17:23] civerachb-cpr commented on #108
Is this still an issue, or has it been resolved in newer releases?

[2020-06-02 17:28] civerachb-cpr commented on #99
1) This is because the LMS 1xx package specifies to turn gravity off in its Gazebo tag.  You can modify that package's sick_lms1xx.urdf.xacro file to change <turnOffGravity> from true to false. This will suppress the warning, but seems to have the side-effect of further breaking the simulation.  I would advise ignoring this warning; it's just notifying you that gravity is acting on some links but

[2020-06-02 18:04] civerachb-cpr commented on #110
This is a bug in Gazebo.  See the comments here: https://answers.ros.org/question/293830/what-is-the-fix-for-no-p-gain-specified-for-pid-namespace-gazebo_ros_controlpid_gainsback_right_wheel_joint-ros-melodic/
and here: https://github.com/ros-simulation/gazebo_ros_pkgs/blob/e42cc26a473733b05abc648181a6de1286105ed6/gazebo_ros_control/src/default_robot_hw_sim.cpp#L218

Basically Husky does not use P

[2020-06-02 18:04] #110 closed, assigned to nobody

[2020-06-02 18:05] civerachb-cpr commented on #102
Please see the comment I left here for a more detailed explanation of why this error is not actually an error: https://github.com/husky/husky/issues/110

[2020-06-02 18:05] #102 closed, assigned to nobody

[2020-06-02 18:15] civerachb-cpr commented on #123
Good catch.  With the Kinect being discontinued for some time this is less of an urgency, but we'll look into adding this to our documentation.

[2020-06-02 18:18] #104 closed, assigned to nobody

[2020-06-02 18:22] civerachb-cpr commented on #120
Would you mind sending us a pull request with the changes you made so we can look into this further?

[2020-06-02 20:48] civerachb-cpr commented on #123
Didn't mean to close this one before. Clicked the wrong button. Sorry!

[2020-06-03 15:00] civerachb-cpr commented on #123
Most of the necessary changes should be reflected here: https://github.com/husky/husky/pull/131

The Kinect's "laserscan" should now be on the /kinect/scan topic, instead of /scan.  If you're using the Kinect for the gmapping demo you can specify the scan topic to listen to when launching the demo; it defaults to /scan, but can be overridden.

Because the Kinect has been discontinued I've also add

[2020-06-03 15:04] civerachb-cpr commented on #105
As noted in #99, you may also be able to work-around this issue by moving the Husky's centre of inertia backwards slightly.  This seems to counteract the imbalance that the lidar introduces.

[2020-06-04 15:22] And1210 commented on #120
I was able to do something similar to @lossemotion. I have been testing changing the coefficient of friction of the wheels. There are 2 coefficients of friction, mu1 and mu2. mu1 deals with friction in the direction of motion so this should be left at 1.0. mu2 on the other hand deals with friction perpendicular to the direction of motion. Setting mu2 to 0.75 or 0.5 seems to help alot. I think this

[2020-06-04 15:23] And1210 commented on #105
I was able to change the friction on the wheels which seems to make the robot turn more smoothly. A description of what was done can be found here: https://github.com/husky/husky/issues/120#issuecomment-638921486

[2020-06-04 15:37] civerachb-cpr commented on #105
Closing this issue, as it seems to be a duplicate of #120 (or at least the discussion is largely a duplication).

[2020-06-04 15:37] #105 closed, assigned to nobody

[2020-06-04 15:38] civerachb-cpr commented on #120
Thanks for the information.  I just tried it out on my system and 0.75 definitely seemed to perform better than 0.5; with 0.5 I ran into problems getting the robot to reliably turn counterclockwise, but these issues weren't present with mu2 set to 0.75.

[2020-06-04 15:40] civerachb-cpr commented on #120
Also, a potentially less-destructive way of making the changes (rather than sudo-editing the files in your main installation folder) would be to clone this git repo into a catkin workspace, building it, and running `source devel/setup.bash` before launching the simulation.  That way you can make changes with the safety-net of being able to roll back to an earlier commit.

[2020-06-04 15:47] And1210 commented on #120
Ok good to hear! I havent tested on anything but my desktop so Im glad this is working for others. What surface were you driving the husky on? I know mu2=0.5 wasn't working great in the husky_playpen world but on Gazebo's generic ground plane it seemed to work pretty well.

[2020-06-04 15:50] civerachb-cpr commented on #120
I was using the playpen simulation.

[2020-06-04 19:55] civerachb-cpr commented on #123
Should be fixed now.

[2020-06-04 19:55] #123 closed, assigned to nobody

[2020-06-08 17:50] civerachb-cpr commented on #128
I don't know the whole context behind that commit -- it was before my time here.  I asked around and nobody else seems to have a good explanation either, honestly.  If changing that section improves performance please feel free to submit a PR.

[2020-06-08 17:56] tonybaltovski commented on #121
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2020-06-08 17:56] #121 closed, assigned to nobody

[2020-06-08 17:56] tonybaltovski commented on #108
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2020-06-08 17:56] #108 closed, assigned to nobody

[2020-07-18 19:21] Abduoit commented on #81
Hi
Is there a `HuskyUR5 manipulation` package (`kinetic`) works on gazebo? the link below doesn't have gazebo !!?

https://github.com/husky/husky_manipulation

[2020-07-20 14:35] dniewinski commented on #81
@Abduoit No, gazebo is not supported.

[2020-07-20 15:19] Abduoit commented on #81
Thanks for replying @dniewinski

Do you think there's a way to launch `HuskyUR5` on `Gazebo` with `ROS Kinetic`?.
I have been trying to make it work, but I keep getting issues with UR5 controller, and I can't make it in normal position, as seen in the attached pic.

![Selection_078](https://user-images.githubusercontent.com/28739007/87954707-b9306980-ca7a-11ea-99a3-5ea8b77dd6d5.jpg)

[2020-07-20 16:19] dniewinski commented on #81
You can try, but I think you will have some issues.  The arm seems to work when it is mounted to something stationary, but has a lot of odd issues when mounted to something mobile.

[2020-07-27 22:33] andrestoga opened #136 "Release for ROS2 or ROS Noetic"
Hey everyone,

Are there plans for releasing Husky to any version of ROS2 or ROS Noetic? After a quick search I could not find nothing about this.

Thanks!

[2020-08-26 08:43] OhmySallyGarden opened #139 "DeserializationError cannot deserialize: unknown error handler name 'rosmsg'"
Hi guys. I am following the instruction on how to setup Husky in Kinetic in simulation. When I was running "Husky Move Base Demo",  there were several errors.
1.
[ INFO] [1598430220.265429328, 1298.680000000]: Loaded gazebo_ros_control.
[ INFO] [1598430220.271723048, 1298.680000000]: imu plugin missing <xyzOffset>, defaults to 0s
[ INFO] [1598430220.271761029, 1298.680000000]: imu plugin missing <

[2020-09-02 00:35] JJBUT opened #142 "DeserializationError cannot deserialize: unknown error handler name 'rosmsg' --- husky_velocity_controller spawn"
Working on a husky and getting the following error when trying to launch the startup file which contains the velocity controller command. I really don't even know where to start with this, but I see https://github.com/husky/husky/issues/139 recently got a similar type of error message, maybe they are unrelated, I can't really say

This error began to occur exactly after I updated and upgraded usin

[2020-09-02 16:43] civerachb-cpr commented on #139
It appears there was a bug in genpy that could cause this error.  The issue has since been resolved in genpy 0.6.13.

Can you please check if there are updates available on your system and if so, install them?

[2020-09-02 16:43] civerachb-cpr commented on #142
It appears there was a bug in genpy that could cause this error.  The issue has since been resolved in genpy 0.6.13.

Can you please check if there are updates available on your system and if so, install them?

[2020-09-02 17:55] JJBUT commented on #142
I have 0.6.14 installed already.

[2020-09-02 18:43] civerachb-cpr commented on #142
Can you please share the contents of the log file mentioned at the end of your initial post?

[2020-09-02 19:02] JJBUT commented on #142
[rospy.client][INFO] 2020-09-01 17:33:05,515: init_node, name[/base_controller_spawner], pid[3079]
[xmlrpc][INFO] 2020-09-01 17:33:05,515: XML-RPC server binding to 0.0.0.0:0
[xmlrpc][INFO] 2020-09-01 17:33:05,515: Started XML-RPC server [http://cpr-aus05:35779/]
[rospy.init][INFO] 2020-09-01 17:33:05,515: ROS Slave URI: [http://cpr-aus05:35779/]
[rospy.impl.masterslave][INFO] 2020-09-01 17:33:05,

[2020-09-02 23:22] mikepurvis commented on #142
Please ensure that you've done an `apt dist-upgrade` so that you have the latest of all packages, including genmsg.

[2020-09-03 04:04] JJBUT commented on #142
As of Monday I had run apt dist-upgrade, all packages are fully up to date. That being said, I will go ahead and check for updates again tomorrow.

[2020-09-03 13:42] civerachb-cpr commented on #142
The issue may to be related to https://github.com/ros/genpy/issues/132.  Please let us know if the problem persists after re-checking for updates and installing them.

[2020-09-03 13:43] civerachb-cpr commented on #139
It appears the issue is related to https://github.com/ros/genpy/issues/132.

[2020-09-03 13:44] civerachb-cpr commented on #139
Closing as duplicate of https://github.com/husky/husky/issues/142

[2020-09-03 13:44] #139 closed, assigned to nobody

[2020-09-03 15:49] civerachb-cpr commented on #142
There was a near-identical issue reported for Ridgeback too, which was successfully resolved by installing the latest updates.
https://github.com/ridgeback/ridgeback_robot/issues/29

[2020-09-03 19:50] JJBUT commented on #142
I have run `sudo apt-get update` and `sudo apt-get dist-upgrade` and the problem still persists. My `genmsg` is version 0.5.11 which is the up to date version for Kinetic I guess?

What confuses me is why on the kinetic-devel branch [https://github.com/ros/genmsg/commit/f9b1abe91e5c4742516c13124c9b8f7909aa98b2](url) it says it is 5.16.  But i guess its a core package so if updates don't absolutely

[2020-09-04 05:16] OhmySallyGarden commented on #142
This error doesn't show again after updating genpy. Thanks!

[2020-09-08 13:11] JJBUT commented on #142
I upgraded the Husky to 18 and Melodic and everything works as normal, and the controllers spawn as expected. I would have liked to figure out the original problem but deadlines cant wait :)

[2020-09-08 13:11] #142 closed, assigned to nobody

[2020-09-08 16:19] civerachb-cpr commented on #136
We have plans to start working on a Noetic release in the fall/early winter 2020.  I can't give a firm estimate on when that will be released for Husky, since we'll be working on Noetic for all of our major platforms over the course of the next quarter or two.  But we intend to have Noetic support "soon."

As for ROS2, it's being discussed internally, but we haven't made any decisions on a timelin

[2020-09-08 16:19] #136 closed, assigned to nobody

[2020-09-09 14:08] civerachb-cpr commented on #99
Closing due to inactivity.

[2020-09-09 14:08] #99 closed, assigned to nobody

[2020-09-09 14:09] civerachb-cpr commented on #120
Closing due to inactivity.

[2020-09-09 14:09] #120 closed, assigned to nobody

[2020-09-09 14:09] civerachb-cpr commented on #128
Closing due to inactivity.

[2020-09-09 14:09] #128 closed, assigned to nobody

[2020-10-23 06:19] numb0824 opened #147 "Controller Spawner couldn't find the expected controller_manager ROS interface."
Hi,everyone,
     when i do:
    "roslaunch husky_gazebo husky_playpen.launch ",there are something wrong on the terminal:
   " waitForService: Service [/gazebo/set_physics_properties] has not been advertised, waiting...
   Controller Spawner couldn't find the expected controller_manager ROS interface".
    i have tried my best to sove this problem,but didn't work.(i have already installed ros-kin

[2020-11-12 06:03] Carrot404 commented on #147
Hi~
I have similar problems when i just install the package and "roslaunch husky_gazebo husky_empty_world.launch". The specific manifestation of the error is that the node gazebo is not linked to the velocity command node.
It bothers me a lot. If there is a solution , let me know please . Thanks a lot

[2020-11-12 17:08] civerachb-cpr commented on #147
A few questions:

- Are you using Melodic or Kinetic?
- Did you install husky_gazebo from-source or from the .deb package?
- Have you installed all available updates on your system?

[2020-11-13 01:43] Carrot404 commented on #147
hi
*Melodic
*from source i think . i cloned package from here.
*sorry im not sure about what you mean.
Thanks in advance!

[2020-11-13 02:32] Carrot404 commented on #147
@civerachb-cpr
Thanks a lot. It is available after i update many packages.

[2020-11-13 16:44] civerachb-cpr commented on #147
Glad you got it working.

I'll leave this ticket open for now in case @numb0824 can provide more information.

[2020-11-16 01:29] nmarticorena commented on #124
Hi, someone manage to solve this issue?

I already tried the comments in the other issues but the problem persists.

Any help or comment would be really appreciated.

[2020-11-17 05:11] ghost opened #148 "C + + source code?"
Why can't I find the C + + source code? Just started to learn, who can guide me, thank you。

[2020-11-17 05:33] ghost opened #149 "source code compile"
I don't know how to source code compile our husky car software system. I have read the official document, but it seems that it is not the source code compilation. Can you help us with the source code compilation? thank you

[2020-11-17 21:10] #149 closed, assigned to nobody

[2020-11-17 21:10] civerachb-cpr commented on #149
Duplicate of https://github.com/husky/husky/issues/148

[2020-11-17 21:16] civerachb-cpr commented on #148
This repository does contain the source code for Husky.  Most of the actual code is found in the husky_base package, inside the src folder.  The Husky firmware is closed-source, but can be installed on Linux by running `sudo apt-get install ros-$ROS_DISTRO-husky-firmware`.  If you're just working on a simulation in Gazebo the firmware won't even be necessary.

To compile the source code you need t

[2020-11-18 01:05] ghost commented on #148
@civerachb-cpr Thank you very much for your reply, I probably know how to do it. However, there are still some minor issues to be consulted. For example, the navigation algorithm or control algorithm we are using, is the package of the ROS itself called? If I want to modify the navigation or control code, can I directly modify the ROS algorithm package? Compile later.....

[2020-11-18 15:51] civerachb-cpr commented on #148
I recommend going through a basic ROS tutorial, like this http://www.clearpathrobotics.com/assets/guides/melodic/ros/, or http://wiki.ros.org/ROS/Tutorials if you're not familiar with how ROS packages interact with each other.

Husky does not include any code for navigation.  It has code to support basic driving operation and sensor integration, but that's it.  But there are lots of 3rd party pack

[2020-11-19 00:53] ghost commented on #148
I'm very lucky to have your guidance. I already know what to do.

[2020-11-19 00:53] #148 closed, assigned to nobody

[2020-11-30 15:26] archielee opened #151 "Noetic Release"
Hi, just wondering when we can expect a release for Noetic/20.04. Thanks!

[2020-11-30 17:11] civerachb-cpr commented on #151
Unfortunately we can't give you a hard timeline for when we'll get the Noetic release ready.  It's in our pipeline, and we hope to have it out Q1 of 2021.  Husky and Jackal are likely going to be the first two platforms to get Noetic support.

[2020-11-30 22:44] archielee commented on #151
Awesome, thanks for the prompt response. Closing this issue.

[2020-11-30 22:44] #151 closed, assigned to nobody

[2020-12-04 15:11] Gregory-Baker opened #152 "ROBOT_NETWORK parameter not setting ROS_IP"
I have a Husky that I recently updated to Ubuntu 16.04 and Kinetic using the method outlined in the ROS - Husky tutorials.

I was just now trying to configure the robot to network with my desktop PC, also running Kinetic. I added `export ROBOT_NETWORK=wlan0` to /etc/ros/setup.bash and I can see that this sets the (ROBOT_NETWORK) environment variable successfully, but nothing else seems to happen.

[2020-12-23 08:52] gycyr opened #153 "Map Matching Error"
Thank you for your excellent work! But when I use gmapping_demo to build a map for my gazebo simulation environment, the following error occurs when amcl_demo calls the map.
![map_match](https://user-images.githubusercontent.com/57784640/102978294-418dcb80-453f-11eb-8d3b-66d42957ea6f.png)

[2020-12-23 08:54] gycyr commented on #153
it was not able to correctly match the gazebo and occupied  grid map.

[2020-12-23 08:55] gycyr commented on #153
Thanks in advance!

[2020-12-23 11:07] gycyr commented on #153
I found the reason, the problem has been solved, sorry to bother you.

[2020-12-23 11:07] #153 closed, assigned to nobody

[2020-12-23 15:11] civerachb-cpr commented on #152
The ROBOT_NETWORK variable is passed to robot_upstart as one of the parameters for the Job class (see http://docs.ros.org/en/melodic/api/robot_upstart/html/jobs.html#robot_upstart.job.Job).  This in turn is used in the /usr/sbin/ros-start script that robot_upstart generates:

[code]

(The above is taken from robot_upstart's job-start.em template, see https://github.com/clearpathrobotics/robot_upst

[2020-12-30 15:46] shendry29 commented on #120
Can confirm that @And1210's suggestion of mu2=0.5 on Gazebo's default ground works well.  I'd also like to add that another compounding factor for me was the unequal distribution of my custom payload. The nonsymmetrical inertial tensor paired with wheels of equal mu2 values resulted in suboptimal performance while turning. Afaik equal mu2 values implies equal weight distribution among the wheels,

[2021-01-18 06:02] illuSION-crypto opened #154 "[spawn_husky_model-11] process has died"
I'm using ROS melodic on Ubuntu 18.04, when I tried to run "roslaunch husky_gazebo husky_playpen.launch" it came to this:
process[twist_mux-8]: started with pid [12240]
process[joy_teleop/joy_node-9]: started with pid [12245]
process[joy_teleop/teleop_twist_joy-10]: started with pid [12246]
process[spawn_husky_model-11]: started with pid [12259]
[ INFO] [1610949124.634990174]: [twist_marker_server

[2021-01-18 15:11] #154 closed, assigned to nobody

[2021-01-18 15:19] illuSION-crypto commented on #147
I have the same problem. Unfortunately I tried a lot but useless. When I run "roslaunch husky_gazebo husky_empty_world.launch" it worked but when I run "roslaunch husky_gazebo husky_playpen.launch" it didn't. I'm using ros melodic on ubuntu 18.04. Neither from-source nor from-deb can work.

[2021-01-18 15:25] civerachb-cpr commented on #147
@illuSION-crypto are you seeing the same ROS output as the original poster?

[code]

Or are you seeing something different?

[2021-01-18 15:27] civerachb-cpr commented on #154
I'm assuming that since you closed this issue you've found the solution yourself?

[2021-01-18 15:31] illuSION-crypto commented on #147
yes, just as you say

[2021-01-18 15:34] illuSION-crypto commented on #154
Unfortunately no. I closed it because I found it turned to the question "
Controller Spawner couldn't find the expected controller_manager ROS interface. "

[2021-01-18 15:48] civerachb-cpr commented on #147
If you've installed from source, please make sure to run:

[code]

Once that's done, or if you installed via apt and not from source, please run:

[code]

[2021-01-18 16:10] illuSION-crypto commented on #147
I tried both but still don't work. I check the log and find it is the same problem:
[rosout][INFO] 2021-01-19 00:07:00,063: Controller Spawner: Waiting for service controller_manager/load_controller
[rospy.internal][INFO] 2021-01-19 00:07:00,268: topic[/rosout] adding connection to [/rosout], count 0
[rospy.internal][INFO] 2021-01-19 00:07:02,177: topic[/clock] adding connection to [http://lenovo-

[2021-01-18 18:10] civerachb-cpr commented on #147
It looks like the issue is actually somewhere deeper inside ROS and/or gazebo, not with Husky itself.  The fact that `self.socket` is apparent `None` is worrying.

Could you please try running

[code]

[2021-01-18 20:14] alhaddad-m opened #155 "How to enable/add some components in husky.urdf.xacro?"
Greetings!
I need to add some components to husky robot such as UR5 manipulation and sensor_arch to husky.urdf.xacro.
Actually I have used husky_manipulation and husky packages and when I added the next line to husky.urdf.xacro:
` <xacro:include filename="$(find husky_ur_description)/urdf/husky_ur5_description.urdf.xacro" />`
the manipulation has been appeared with robot as following in gazebo:
`

[2021-01-19 08:31] illuSION-crypto commented on #147
Actually I already install it. Just now I found after I disconnect from the internet this problem disappear and there is a empty world in gazebo.
![2021-01-19 16-10-13屏幕截图](https://user-images.githubusercontent.com/56497487/105007641-33b26400-5a73-11eb-8831-1f22a1e43bb4.png)
![2021-01-19 16-23-52屏幕截图](https://user-images.githubusercontent.com/56497487/105007748-55135000-5a73-11eb-8e4d-cd0437c2e8f2

[2021-01-19 09:40] illuSION-crypto commented on #147
OK I just solved this problem, when gazebo start it accesses a url which can't reach. I just accesses it using a http proxy. Anyway, really appreciate your help~

[2021-01-19 18:37] civerachb-cpr commented on #147
Glad you got it working!

[2021-01-19 18:37] #147 closed, assigned to nobody

[2021-01-19 18:45] civerachb-cpr commented on #155
I just ran

[code]

and the sensor arch with RealSense D435 appeared as-expected.  Setting `HUSKY_URDF_EXTRAS` to point to the `husky_ur5_description.urdf.xacro` from husky_manipulation and rulling the above command gives the robot with the arm & sensor arch present:

![husky_gazebo_ur_rs](https://user-images.githubusercontent.com/59611394/105082162-2ab89700-5a61-11eb-8385-c45743599d83.png)

Can y

[2021-01-21 09:09] alhaddad-m commented on #155
@civerachb-cpr Thank for reply. Actually, the problem was that value of `realsense_enabled `in launch file is overriding its value in urdf.xacro file i.e. I have made its value "true" in urdf file while its value in launch file was "false" so when I launched the file, it took the value from launch file and considered that  `realsense_enabled ` is false.
Could you please explain why I have to set `

[2021-01-21 14:58] civerachb-cpr commented on #155
`<xacro:arg name="realsense_enabled" default="false" />` appears multiple times across the launch files.  Depending _where_ you changed the default from `false` to `true` may be contributing to the problem.

If you only changed the default in `spawn_husky.launch` then the sensor bar will not appear when launching the empty world.  If you look at `husky_empty_world.launch` you'll see that launch fi

[2021-01-21 18:47] alhaddad-m commented on #155
Thank you.

[2021-01-21 18:48] #155 closed, assigned to nobody

[2021-01-23 00:06] elleszabo opened #156 "husky_bringup not building"
System: Ubuntu 18.04
Distro: ROS melodic
I simply cloned this repo and catkin built

These are my errors in the husky_bringup package:

`Errors     << moveit_core:make /home/elle/catkin_ws/logs/moveit_core/build.make.001.log
/home/elle/catkin_ws/src/moveit/moveit_core/robot_state/src/conversions.cpp: In function ‘void moveit::core::{anonymous}::_attachedBodyToMsg(const moveit::core::AttachedBody&,

[2021-01-23 00:07] #156 closed, assigned to nobody

[2021-01-25 01:06] EricWiener opened #157 "Unable to launch Husky Gazebo simulator noetic-devel"
I started with a clean noetic environment:
[code]

Wasn't sure how to solve that last issue (it seems [um7](http://wiki.ros.org/um7) is only available on melodic), but I was successfully able to run:
[code]

But when I try to run Gazebo, I get the following error:
[code]

[2021-01-25 15:03] civerachb-cpr commented on #157
The noetic branch is still being worked-on and hasn't been officially released yet.  Several of Husky's third-party dependencies have not yet been updated for Noetic.  And several files & scripts within the Husky repo still use older Kinetic/Melodic era formats (e.g. Python 2 scripts that need to be updated to Python 3).

[2021-01-25 15:04] EricWiener commented on #157
Got it. Thank you.

[2021-01-25 15:04] #157 closed, assigned to nobody

[2021-01-25 15:20] civerachb-cpr commented on #156
I'm assuming that since you closed this ticket you've found the solution yourself?

[2021-01-27 09:50] alhaddad-m opened #158 "The Husky is not shown in gazebo"
Greetings!
Today I tried to launch husky in gazebo as every time using `roslaunch husky_gazebo husky_empty_world.launch ` but husky isn't shown in gazebo.
Before I was able to launch it normally and I don't now what is the reason today. Anyway, the message that i have seen is:

[2021-01-27 15:01] civerachb-cpr commented on #158
It looks like when you configured `rosdep` you may have done so incorrectly; running `sudo rosdep update` can mangle the file permissions, resulting in these sorts of errors.  Are you able to launch any other ROS nodes on your system?  Or is it just husky_gazebo that's causing problems?  e.g. does running `roslaunch husky_viz view_model.launch` work as-expected?

You can try resetting them by runn

[2021-01-28 09:52] alhaddad-m commented on #158
@civerachb-cpr Thank you, `sudo chown -R cont:cont /home/cont/.ros `fixed it directly.

[2021-01-28 09:53] #158 closed, assigned to nobody

[2021-01-30 19:20] EricWiener opened #159 "Husky Frontier Exploration Demo: Unable to draw polygon to explore"
I'm following the navigation tutorials and everything is working great, but when I try to do the [Husky Frontier Exploration Demo](http://wiki.ros.org/husky_navigation/Tutorials/Husky%20Frontier%20Exploration%20Demo) tutorial, I'm unable to do this part:
[code]

I'm able to set `2D Nav Goal`, but the simulated Husky doesn't take any actions when I click points. I also ran `rostopic echo /clicked_p

[2021-02-01 20:26] civerachb-cpr commented on #159
Are you running the demo in Kinetic or Melodic?

[2021-02-01 20:58] EricWiener commented on #159
Melodic @civerachb-cpr

[2021-02-02 17:12] civerachb-cpr commented on #159
Looking at the screenshot, it looks like there's a warning saying no costmap was received.  That may be contributing to the issue, but might be a frontier_exploration issue, rather than a husky one.

Until very recently there wasn't a Melodic version of frontier_exploration available, and we haven't fully updated our melodic demos & docs to support it yet.  My advice would be to reach out to the f

[2021-02-03 15:52] EricWiener commented on #159
Got it. I'll look into this further and update if I find any solution

[2021-02-03 15:52] #159 closed, assigned to nobody

[2021-02-13 07:29] alhaddad-m opened #160 "Is it possible to control wheels rotations directly?"
Greetings!
I know that in husky it is used[ diff_drive_controller](http://wiki.ros.org/diff_drive_controller) from ROS to achieve the velocities control. Please could I know if it is possible to access to the low-level-control in Husky? That for example if I want to apply another controller rather than diff_drive_controller.

[2021-02-16 15:19] civerachb-cpr commented on #160
Because Husky is a differential drive robot, the diff_drive_controller is likely the best controller to use.  What controller do you want to use with Husky?

At a low-level, Husky communicates with the motors over a serial connection.  The horizon_legacy folder inside husky_base/src contains all of the low-level serial I/O, should you wish to modify any of it.

[2021-02-17 11:09] alhaddad-m commented on #160
@civerachb-cpr  Thanks for reply. Does diff_drive_controller take in account uncertainties in mass? (for example if we need to load the robot, then the mass will change).
if the answer is no, then I suggest to add adaptive algorithm. However, I am glad what you have said about diff_drive_controller.
Can we consider "Each velocity command from the topic /cmd_vel, the diff_drive_controller will real

[2021-02-17 15:07] civerachb-cpr commented on #160
The diff_drive_controller does not take the robot's mass into account, so if your robot needs constant acceleration with variable mass, this could theoretically cause problems.

The way Husky is configured, the diff_drive_controller is defined as the husky_velocity_controller in  control.yaml: https://github.com/husky/husky/blob/83a8a6ebef0b79f598222877ee8a1a238257ee49/husky_control/config/control

[2021-02-22 18:14] alhaddad-m commented on #160
@civerachb-cpr Could you please tell me how to set the control mode on "voltage control" instead of velocity control? It is needed in my low level controller to control the rotations of wheels.

[2021-03-04 17:29] KeundongKang opened #161 "husky gazebo issue"
Hi,
I'm trying to launch husky gazebo in Ubuntu 20.04 but it is not working.
It just keeps loading like below

![Screenshot 2021-03-05 02:26:30](https://user-images.githubusercontent.com/55472514/110004168-7a75c800-7d5a-11eb-8007-041d92cb8cdd.png)
I definitely git cloned the noetic devel but it is not working.

Is there anyone know why?

[2021-03-04 20:35] Daegas commented on #161
What does the terminal sayy?

[2021-03-04 20:52] civerachb-cpr commented on #161
As @Daegas says, without seeing the terminal output it's pretty hard to diagnose the problem.

[2021-03-04 21:22] tonybaltovski commented on #161
Is this the first time you are you starting Gazebo on that machine? Gazebo needs to download models the first time you run it.

[2021-03-09 04:02] chandailrc commented on #147
I am running into the same issue and not at all sure why. I have melodic and tried installing via. source as well as apt. I run into the same issue either way. Can you throw some light as to what the issue is and how to go about fixing it? I have updated the system packages (when installing via. apt) or performed rosdep dependency updates (when installing via. source) and it didn't seem to help.

[2021-03-15 14:32] RGring opened #165 "Logitech Controller under melodic distro?"
System Setup
 - ROS Distro: Melodic
 - provided ISO image installed: https://packages.clearpathrobotics.com/stable/images/latest/melodic-husky/amd64/
 - real hardware

I updated the real robot from kinetic to melodic. I followed the instructions here: https://www.clearpathrobotics.com/assets/guides/kinetic/husky/InstallHuskySoftware.html#installing-husky-software

ROS seems to work fine, but I can

[2021-03-15 14:52] civerachb-cpr commented on #165
What button are you using as the deadman switch/enable button on the controller?  In Melodic we changed the enable button used on the F710 controllers.  Instead of the X button, you must now hold the LB button, located by your left index finger when holding the controller.  This change was made to keep the button mappings consistent across different robots and different controllers, as well as to

[2021-03-15 15:21] RGring commented on #165
@civerachb-cpr Thanks for your reply. Indeed, I used the old button combination since I didn't stumble upon the information. That was an easy fix :). Thanks!

[2021-03-15 15:23] #165 closed, assigned to civerachb-cpr

[2021-03-18 09:40] CWEzio opened #167 "Cannot control husky robot in multi_husky_playpen environment"
**Please provide the following information:**
 - OS: Ubuntu 18.04
 - ROS Distro: Melodic
 - Built from source or installed: built from source
 - Package version: b552e16c6f2b0dd42e19e7cf116f51b97dbd3b0a
 - Real hardware or simulation: simulation

I run the multi_husky_playpen.launch and run
[code]
 **Expected behaviour**
One husky should move
 **Actual behaviour**
No husky moves and I got
[code]
T

[2021-03-18 09:46] CWEzio commented on #167
I suspect message_relay pacage goes wrong.

[2021-03-20 13:34] #160 closed, assigned to nobody

[2021-04-05 22:30] xiaoshan-lin commented on #167
I met with the same issue. But in the end I figured out there is no need to use multimaster even if you want to simulate multiple husky in gazebo. You can set **`<arg name="multimaster" value="false"/>`** in **multi_husky_playpen.launch**

Also you need to modify **spawn_husky.launch** by adding argument **`<arg name="robot_namespace" value="$(arg robot_namespace)"/>`** under `<include file="$(fin

[2021-04-06 06:11] CWEzio commented on #167
@umnxslin Thank you. I have done exactly the same thing and it works for me too. I think that current multimaster has some bugs in it.

[2021-04-07 14:21] civerachb-cpr commented on #167
Thanks for bringing this to our attention.  We'll look into it, but I'm glad you were able to find a work-around for now.

[2021-04-08 14:14] Debojyoti7 opened #170 "Slow simulation for multi husky in gazebo 9 ros melodic"
I'm running multiple huskies with a global planner in individual namespaces. However I find the simulation is slow. The gazebo 9 simulation is running with frequent freezing.  The exact same setup of husky package run perfectly without freezing in gazebo 7 in ros kinetic.

Is there any way to solve this problem?
My system specs is ubuntu 18. Ram 16gb

[2021-04-11 17:53] antoan opened #171 "I'd like to understand why base_footprint is positioned below ground level"
https://github.com/husky/husky/blob/53959624e1a2fd6d2f0c84f103ef9d273e6f8e12/husky_description/urdf/husky.urdf.xacro#L106

which yields a negative z value of −0.13228

Was there any particular reason for this?

Cheers

[2021-04-12 15:49] #171 closed, assigned to nobody

[2021-04-12 15:55] civerachb-cpr commented on #171
I'm assuming since you closed this ticket you figured out the answer.  But just in case someone else finds this and is wondering the same thing:
The origin of the robot is at `base_link`, which is the center-bottom of the robot's main chassis.  The wheels extend below `base_link`, meaning the ground-plane has a negative-z value.  `base_footprint` is the outline of the robot projected onto the grou

[2021-04-12 16:25] mikepurvis commented on #171
... and the reason that base_link is attached to the chassis instead of the ground is that it's much more straightforward to measure the position of your sensors relative to that point. :)

[2021-04-12 16:41] antoan commented on #171
@mikepurvis @civerachb-cpr Much appreciated,  thank you.

[2021-04-19 14:06] civerachb-cpr commented on #170
We've been seeing a lot of reports about issues with Gazebo 9, but so far haven't been able to nail down exactly what's causing the performance issues.

Are you able to run a single Husky simulation in Gazebo 9?  Or does the problem persist regardless of the number of robots?

For your system specs, what kind of GPU and CPU do you have in your computer?

[2021-04-19 14:12] Debojyoti7 commented on #170
Hi  , my system has 16 gb ram, 1650 gpu.

I can run single husky but still it's not as same as kinetic and gazebo 7. No sure y this slow down of gazebo9.

[2021-05-01 09:54] alhaddad-m opened #172 "How to get the feedback of Husky velocities?"
Greetings!
We send velocities commands to Husky within cmd_vel. How we can get feedback of the measured velocities of Husky? I mean the real velocities of the robot and not we have sent to it.

[2021-05-03 15:17] civerachb-cpr commented on #172
You can get the angular velocity of each wheel from the `/joint_states` topic, which can be converted to the linear velocity by multiplying by the radius of the wheel.  On a standard Husky, the wheel radius is 0.1651m (see `husky_description/urdf/husky.urdf.xacro, line 78).  Obviously changes in tire pressure will affect the real-world radius, but this should give you a good approximation.

The `j

[2021-05-06 11:06] alhaddad-m commented on #172
@civerachb-cpr Thank you for the detailed answer.

[2021-05-06 11:06] #172 closed, assigned to tonybaltovski, civerachb-cpr

[2021-05-11 13:04] RGring opened #173 "Customize teleoperation velocities"
Is there a convenient way to modify the teleop configuration on my husky? --> https://github.com/husky/husky/blob/melodic-devel/husky_control/config/teleop_logitech.yaml

I would like to reduce the rotational speed.

[2021-05-11 13:31] civerachb-cpr commented on #173
The easiest way would be to modify `husky_control/config/control.yaml` to edit the angular acceleration and angular velocity limits (see https://github.com/husky/husky/blob/34bd30535f11aad0092ad1217aa691621a29cc75/husky_control/config/control.yaml#L37).  This works best if you're working with a source build, but can also work if you're using the release version installed through a .deb.

If you're

[2021-05-11 13:35] civerachb-cpr commented on #173
Note that the above will change the maximum rotational speed of the robot in all cases, not just for teleop.  If you _just_ want to change the teleop speed, you can modify the teleop configuration (either husky_control/config/teleop_ps4.yaml or husky_control/config/teleop_logitech.yaml, depending on which controller you're using).  e.g. https://github.com/husky/husky/blob/34bd30535f11aad0092ad1217

[2021-05-12 08:06] RGring commented on #173
Hi @civerachb-cpr
Thanks for your detailed answer - HUSKY_CONFIG_EXTRAS is what I was looking for. I played a little bit around with the options.
* When I modifiy husky_velocity_controller/angular/z/max_velocity it doesn't affect the angular velocity of the teleop.
* It seems that I can't overwrite the joy_teleop via HUSKY_CONFIG_EXTRAS. Their values are still the default.
* Changing the config di

[2021-05-12 14:45] civerachb-cpr commented on #173
A few possibilities:

1) Are you restarting ROS after setting the environment variable?  The parameters are loaded from the yaml files during startup, so modifying them after ROS has started won't have any effect until you run `sudo systemctl restart ros` (or otherwise restart the ROS nodes)

2) Are you exporting HUSKY_CONFIG_EXTRAS in `/etc/ros/setup.bash`, or are you setting it interactively in

[2021-07-12 13:16] anjulo commented on #157
Hello,

So, when will the official noetic branch will be released?

Thank you.

[2021-07-12 13:58] civerachb-cpr commented on #157
We don't have an "official" release date targeted.  We're hoping to have all of our in-house testing on the physical robot done by the end of the summer.
For now, the husky_gazebo package in the noetic-devel branch is usable in Noetic if you need  to use the simulation environment (which is what this issue was originally asking about).

[2021-07-18 09:18] hxj0316 opened #177 "ros2 下如何将husky的urdf文件导入rviz"
您好，我在ros1中可以很好的将husky的urdf文件通过launch文件使得它在rviz中很好的显示，但是，在ros2中我没有尝试过，请问是否可行？如果可行具体应该如何操作？

[2021-07-20 13:53] civerachb-cpr commented on #177
I'm afraid I don't speak Chinese, so I've had to use Google Translate:

We are currently working on releasing ROS2 support for Husky.  It's not ready yet, but we'll make an announcement when it's ready.

[2021-08-30 16:23] edncke opened #181 "Husky spawns in simulation with base_link gravtity disabled"
- OS: Ubuntu 20.04
- ROS Distro: Noetic
- Package Version: 0.5.0
- Simulation

If I start the Husky-playpen simulation without the laser enabled everything works as expected.
`roslaunch husky_gazebo husky_playpen.launch laser_enabled:=false`

![screenshot_2021-08-30 17-55-11](https://user-images.githubusercontent.com/65857850/131370890-c32b287f-17fa-43a1-aec8-d29499b7f1fe.png)
But if I enable the

[2021-09-11 14:41] robogeekcanada commented on #161
@KeundongKang try to installing the following dependencies:

Reference: http://wiki.ros.org/LMS1xx
```$ sudo apt-get install ros-noetic-lms1xx```
Reference: https://bitbucket.org/DataspeedInc/velodyne_simulator/src/master/
```$ sudo apt-get install ros-noetic-velodyne-description```
Reference: http://wiki.ros.org/robot_localization
```$ sudo apt-get install ros-noetic-robot-localization```
Referen

[2021-09-13 06:25] nsch0e commented on #181
your issue seems to arise from the LMS1xx package. You can just delete this line to solve the issue:

https://github.com/clearpathrobotics/LMS1xx/blob/d80907e539d72a373002e9d68e4b982eb4b6d7ce/urdf/sick_lms1xx.urdf.xacro#L58

[2021-09-13 09:41] #181 closed, assigned to nobody

[2021-09-28 14:02] Gregory-Baker commented on #152
Thanks for the clarification!

[2021-09-28 14:02] #152 closed, assigned to nobody

[2021-10-25 15:51] adamanov opened #182 "unable to calibrate the Magnetometer"
Hello,
I was following the[ husky_bringup/Tutorial ](http://wiki.ros.org/husky_bringup/Tutorials/Install%20Husky%20Software)in order to calibrate our husky robot.
However, during executing `rosrun husky_bringup calibrate_compass` , the robot start doing calibration but after that it end up wtih error

[code]

we have imu um7 on the robot

[2021-10-25 16:18] civerachb-cpr commented on #182
Thanks for letting us know about this bug!  We'll look into it asap.
At first glance it looks like it's simply a missed change in the MagneticField message format.  The `vector` field appears to be called `magnetic_field` in Melodic.
Can you please try editing this line https://github.com/husky/husky/blob/92fe8eaadb65a8a2473f9f2e36009563496548a5/husky_bringup/scripts/compute_calibration#L42 to the

[2021-10-28 12:22] adamanov commented on #182
Thanks for quick response. I changed the line and It worked right now.

[2021-10-28 12:22] #182 closed, assigned to nobody

[2021-11-09 00:46] tonybaltovski commented on #161
If installing from source use rosdep to install the dependencies. ie `rosdep install --from-paths src --ignore-src --rosdistro=$ROS_DISTRO -y`

[2021-11-09 00:51] tonybaltovski commented on #173
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2021-11-09 00:51] #173 closed, assigned to tonybaltovski, civerachb-cpr

[2021-11-09 00:52] tonybaltovski commented on #177
Check the `foxy-devel` branch.

[2021-11-18 10:41] alhaddad-m opened #190 "Is it possible to use the voltage mode to control the robot in simulation?"
Greetings! I have two questions related to the voltage mode.
1- I need to test the voltage mode to control the robot in simulation instead of the default **velocity mode**. I have read the this (voltage) mode is for hardware. Does that mean i cannot test it in simulation or there is another way?
2- When i change the control model into **voltage mode**.  What does the topic for publishing the comma

[2021-12-01 09:03] narutojxl opened #192 "husky wheel odom"
Hello authors,
I'm using `noetic-devel` branch.  I run `roslaunch husky_gazebo husky_empty_world.launch` with the default config, `laser_enabled = 0`, `laser_secondary_enabled =0`, `laser_3d_enabled =0`, `realsense_enabled =0`.  I don't modify anything except  I add `libgazebo_ros_p3d.so` into `husky.urdf.xacro` to get fake localization pose. When i use a logitech joystick to drive husky in gazebo

[2021-12-01 14:40] kimms74 opened #193 "about wheel separation and radius multipliers values"
hello, i try to get odometry data from husky_velocity_controller/odom.

In control.yaml, default value of wheel_separation_multiplier: 1.875 and wheel_radius_multiplier: 1.0.

With these value, i got very wrong odometry position and rotation.(odom velocity is about twice as fast than real velocity)

So, i changed wheel_radius_multiplier with 0.5, and then i got accurate odometry position.

And i t

[2021-12-02 07:51] narutojxl commented on #193
Hi @kimms74, i'm also curious about this question and i also found `husky_velocity_controller/odom` linear velocity `vx` and angular velocity `wz` are the same with gazebo received speed command,  its pose is derived from these two velocities, which is different from the actual velocity and actual pose, please see [here](https://github.com/husky/husky/issues/192).

[2021-12-06 18:54] destogl commented on #192
Hi @narutojxl,

You probably have in the parameters of Diff Drive controller set "open_loop" to true. This ignores the feedback from hardware and publishes odometry based on the commanded velocity.

The other issue with simulation is caused by unsuitable friction parameter on the Wheels, see #191 for the adjustments.

[2021-12-07 02:00] narutojxl commented on #192
Hello @destogl, thanks for your kind reply.  I don't find `open_loop` param in `control.yaml`. In vscode,  i also search with `open_loop`, donn't find somewhere. This is control.yaml content, is there anything i missed?  I clone from husky noetic repository.  I will merge #PR191 to my desktop noetic branch, thanks again:)

    husky_joint_publisher:
	  type: "joint_state_controller/JointStateContr

[2021-12-07 22:47] Chick92 opened #197 "Gazebo simulation - Velodyne"
Hi,

I'm having trouble launching gazebo with any form of additional sensors. Specifically a Velodyne VLP16.
I've also tried the following tutorials - https://www.clearpathrobotics.com/assets/guides/noetic/husky/HuskyFrontiers.html but can't figure out how to launch the laser scanner in that either.

I'm sure i'm missing something really obvious, googling the problem has pointed to several fragmen

[2021-12-09 18:20] civerachb-cpr commented on #197
The easiest way to add a VLP16 to the Husky is to simply use the `HUSKY_LASER_3D_ENABLED` environment variable:

[code]

This will start the simulation with the Velodyne mounted to a sensor arch above the robot:
![husky-gazebo-lidar](https://user-images.githubusercontent.com/59611394/145453390-8899a036-e515-45fd-ba7f-d8f1ae024a45.png)

Then you can start Rviz and add the pointcloud data to the vis

[2021-12-16 12:55] miku54 opened #198 "How to publish GPS navigation points for outdoor navigation"
**Describe the the feature you would like**
A clear and concise description of what you want to happen.
Hi friends, I now have a set of RTK GPS with accuracy of 2cm, a multi-line radar that can be used for outdoor work, functional IMU and ODOM data, and a robot chassis. Can I use this code for outdoor navigation? How do I store and publish waypoints? I saw on YouTube that your outdoor navigation i

[2021-12-16 17:18] civerachb-cpr commented on #198
Hi, thanks for the question.  In its base configuration, Husky cannot be used to perform outdoor navigation.  You would need to fuse your sensor data using the robot_localization package and then add a path-generator and controller.

Fusing the sensor data is relatively simple; please refer to the robot_localization package for guidance on how to do that.  At minimum you'll likely need to add an I

[2021-12-17 01:57] miku54 commented on #198
Actually, I've done the sensor fusion; But since I knew nothing about outdoor navigation, I didn't know what to do next. My friend suggested that I use Autoware, is that a good idea? Regarding the PAth-generator and controller, can MOVE_base be used for outdoor navigation? I've used it before, with amCL positioning for indoor navigation.

[2021-12-17 15:25] shrijitsingh99 opened #199 "ROS2 Support"
What is the current timeline for releasing ROS2 support? Is the current galactic branch in a somewhat stable and usable state?

[2021-12-20 10:26] jeferal commented on #199
Is it currently possible to run the husky robot with the foxy-devel branch (both the real one and the gazebo simualtion)?

[2022-01-04 18:39] tonybaltovski commented on #199
@shrijitsingh99 The galactic branch should be stable.  However, support for galactic will be limited since it is not a LTS.

[2022-01-04 18:40] tonybaltovski commented on #199
@jeferrandiz98 Yes both are possible.

[2022-01-05 17:03] ghost opened #201 "Focal Noetic installation instruction doesn't work on Husky"
- OS: Ubuntu 20.04
 - ROS Distro: Noetic
 - Installed using 'clearpath-universal-noetic-amd64-0.5.8.iso' from clearpath
 - Real hardware

 **Expected behaviour**
I followed instruction provided at [INSTALL AND CONFIGURE HUSKY SOFTWARE](https://www.clearpathrobotics.com/assets/guides/noetic/husky/InstallHuskySoftware.html#install-and-configure-husky-software) to install and configure the Husky. Exp

[2022-01-06 15:40] civerachb-cpr commented on #201
The configuration screen mentioned was recently removed in a refactoring of the ISO; previously the hostname was assigned as `cpr-unassigned` and there was a first-boot prompt that asked for a new hostname.  This was removed and changed to a prompt during the OS installation itself.  It still applies to older versions of the ISO, but if you don't see any configuration steps after logging in that's

[2022-01-07 10:31] #199 closed, assigned to tonybaltovski, civerachb-cpr

[2022-01-07 11:38] ghost commented on #201
Thanks for prompt response.

Husky is not connected to power. I also checked e-stop, lock has been rotated toward unlock position and reset button has been released so in my understanding e-stop is not enabled still STOP LED is red and COMM LED is yellow. Am I missing to check something?

When I run
`sudo journalctl -u ros`
I get following output:
[code]
As per log message, it failed to access mul

[2022-01-07 11:55] giv6kor commented on #201
Thanks for prompt response.
I checked e-stop, Robot is not connected to power, lock has been rotated toward unlock position and reset button has been released so in my undestanding e-stop is not enabled still stop LED is red and COMM is yellow. Am I missing to check something?

When I run
`sudo journalctl -u ros`
I get below output

[2022-01-07 14:57] civerachb-cpr commented on #201
Inside the battery bay there are 5 connectors: 2 red, 2 black, and 1 blue.  Can you please verify that all 5 are securely connected?

The blue connector is a short to ground, but if it is not connected it acts as an e-stop.  This is to prevent the motors from moving when the robot is connected to shore power.

[2022-01-10 13:17] ghost commented on #201
COMM LED is green now, it was problem with remote e-stop switch. Thanks for support.

[2022-01-10 13:17] #201 closed, assigned to tonybaltovski

[2022-01-10 16:17] civerachb-cpr commented on #201
Glad you got it working!

[2022-01-12 18:02] rouceto1 opened #205 "Noetic branch does not contain husky_base"
Husky for noetic does not contain husky_base node as well as husky_bringup. Is there any reason for this?

[2022-01-12 18:14] civerachb-cpr commented on #205
For Noetic the robot-specific packages were moved to their own repository here: https://github.com/husky/husky_robot

[2022-01-12 18:15] rouceto1 commented on #205
Didn't know that. Thank you.

[2022-01-12 18:15] #205 closed, assigned to tonybaltovski

[2022-01-18 04:13] destogl commented on #192
@narutojxl I see you are using ROS(1). Nevermind then.

[2022-01-19 12:38] zokatr opened #210 "Husky husky_velocity_controller Namespace Problem"
Hi,

I am trying to move forward the husky at a constant speed. I tried to control husky by publishing cmd_vel message.

[code]

When i include husky without specifying any namespace, i can publish Twist message and control the husky.

When i add a name-space like "husky_alpha" than i can not control the husky.
[code]

 I also chaged the message from

`self.pulisher_husky_control = rospy.Publisher

[2022-01-20 18:45] zokatr commented on #210
https://github.com/husky/husky/issues/167#issuecomment-813687289

This comment helped to solve namespace issue but the connection problem between map and base_link still exist. There is one iris drone in the system with husky. If I remove the husky from system, I can see a connection between map and base_link but when I add this code block to launch file

[code]

then I get a connection error like

[2022-01-27 20:28] zokatr commented on #210
I solved the problem. I am not sure that this solution is a proper way to solve this problem. I have a drone in the system and it also has "base_link" so my solution is changing the all "base_link" to "base_link_husky" in husky files.

[2022-01-27 20:28] #210 closed, assigned to nobody

[2022-03-02 19:10] antoan opened #214 "Question about forking Husky"
Hi,

I have adapted the Husky Kinetic codebase, for a personal project, to a low cost [mobile base](https://www.piborg.org/robots-1/monsterborg) and as I did not fork the repository directly on github, I thought I'd give you a heads up.

At the time, my thinking was that as my hardware and setup is very different to that of Husky, there would be little to contribute back to the original repository

[2022-03-02 19:10] gxfgit commented on #214
您好，邮件已经收到，我会尽快查看并回复。谢谢！ 

[2022-03-02 19:11] antoan commented on #214
[谢谢]

[2022-03-02 19:17] civerachb-cpr commented on #214
@antoan thanks for letting us know about your project!

All of the Husky code in this repository is released under the terms of the BSD 3-clause license, so as long as you're abiding by those terms feel free to fork the Husky code for your own needs.  I took a quick look at your Nemesis code, and everything appears to be in-order, and you're using the same license.  I don't see anything amiss.

Do

[2022-03-02 19:26] antoan commented on #214
Thank you!

Sure, I've uploaded a few on a project dedicated [youtube channel](https://www.youtube.com/channel/UCMuJMMzbpIeIWIu99pVl13A).

In addition, I have some more media, as a visual log of the project here: https://www.flickr.com/photos/193485202@N04/albums/72157719550250323

Thanks again.

Update:

FYI I've added a 3rd P.O.V [video](https://www.youtube.com/watch?v=r9Hg3mbU6mA) for you to ge

[2022-03-02 19:44] #214 closed, assigned to nobody

[2022-03-12 20:21] Candulf opened #215 "Unable to launch husky_playpen_launch.py simulation in ROS2 Foxy"
Hi,

I'm having trouble with running the husky_playpen_launch.py simulation.

 - OS: Ubuntu 20.04
 - ROS Distro: Foxy
 - husky packages built from source, gazebo_ros2_control installed via apt
 - Package version: 8c7d073a5a098a90011ef1c6b449d44263be8eb5 (built on March 12)
 - simulation

 **Expected behavior**
 Gazebo simulation should start, the robot can be operated via cmd_vel

 **Actual behavi

[2022-03-14 09:53] alpylmz commented on #215
Hi,

I am also having trouble, but with a different error.

I have the same environment and system, I am executing the same command, but the command fails with following error.

[INFO] [launch]: All log files can be found below /home/alp/.ros/log/2022-03-14-12-51-25-750064-alp-R2D2-27273
[INFO] [launch]: Default logging verbosity is set to INFO
Task exception was never retrieved
future: <Task fini

[2022-03-14 11:51] Candulf commented on #215
@alpylmz The problem could lie in using xacro package from ROS Noetic distro. Try sudo apt install ros-foxy-xacro.

[2022-03-15 21:58] tonybaltovski commented on #215
@Candulf for ros2_controls you need to publish to `/husky_velocity_controller/cmd_vel_unstamped`

[2022-03-16 06:50] Candulf commented on #215
@tonybaltovski It works, thank you. My bad I haven't listed the published topics first.

[2022-03-16 07:12] alpylmz commented on #215
@Candulf It worked! Thank you.

[2022-03-16 21:49] #215 closed, assigned to tonybaltovski

[2022-03-16 21:51] tonybaltovski commented on #197
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2022-03-16 21:51] #197 closed, assigned to tonybaltovski

[2022-03-16 21:52] tonybaltovski commented on #177
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2022-03-16 21:52] #177 closed, assigned to nobody

[2022-03-16 21:52] tonybaltovski commented on #161
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2022-03-16 21:52] #161 closed, assigned to nobody

[2022-03-16 21:59] tonybaltovski commented on #190
It can only be controlled using `cmd_vel`.

[2022-03-16 21:59] #190 closed, assigned to nobody

[2022-03-22 11:49] alpylmz commented on #215
I'm afraid I did not understand what you said. I changed every `/husky_velocity_controller/cmd_vel` to `/husky_velocity_controller/cmd_vel_unstamped` in the workspace, but still I cannot launch husky the same way in the first comment. What am I doing wrong?

[2022-03-22 11:53] marco-ambrosio opened #218 "Robot NOT turning providing angular velocity"
**Please provide the following information:**
 - OS: **Ubuntu 20.04**
 - ROS Distro: **Foxy**
 - Built from source or installed: **Built from source**
 - Package version: **commit** 00d81bfce3222cb0c4b5c6565a92054cc2df9c46
 - Real hardware or simulation: **Real hardware**

 **Expected behaviour**
 When an angular velocity is provided robot is expected to turn.

 **Actual behaviour**
The robot inst

[2022-03-31 09:06] Alex-Beh commented on #112
@tonybaltovski I am facing the same issue and the udev rules don't help... Any other hints?

[2022-03-31 09:18] alpylmz opened #219 "Ros2_control crashes in Foxy Gazebo launch"
**Please provide the following information:**
 - OS: Ubuntu 20.04
 - ROS Distro: Foxy
 - Built from source or installed: Foxy is installed, Husky is built from source
 - Package version: e18bdb61e990378390ce5e9df14ed43316313733
 - Real hardware or simulation: Simulation

 **Expected behaviour**
 When gazebo_launch.py is launched, Gazebo should open, Husky should be spawned without any errors.

 **

[2022-03-31 14:13] civerachb-cpr commented on #112
@Alex-Beh are you still using Kinetic? Or are you using a newer ROS distro like Melodic or Noetic?

We changed the location of some of the udev rules in Melodic to reduce duplication across multiple robot models.

[2022-03-31 14:33] Alex-Beh commented on #112
@civerachb-cpr I am using noetic branch. And I realize if I launch seperately then the issue won't happen.... (yeah it don't make sense.... will continue do testing and update here again tomorrow)

[2022-03-31 19:12] civerachb-cpr commented on #112
If you're able to launch separately but the Systemd job isn't working the likeliest explanation is a permissions problem with something on the system.

What happens if you run
[code]

[2022-03-31 19:22] tonybaltovski commented on #112
Could you also run ` ls -lisah /dev/*` and provide the output.

[2022-04-22 00:13] tonybaltovski commented on #219
Hi, `ros2_control_node` isn't need for the simulation and was removed.  Thank you for bringing this up.

[2022-04-22 00:13] #219 closed, assigned to tonybaltovski

[2022-04-29 10:02] robertokcanale opened #229 "ROS2 Foxy Gazebo Simulation Crashes"
I; using Ubuntu 20 with foxy.

I just followed the tutorial provided here  [https://clearpathrobotics.com/assets/guides/foxy/husky/HuskySimulation.html](https://clearpathrobotics.com/assets/guides/foxy/husky/HuskySimulation.html ) and  RVIZ doesn't work. There is an error from the front and left wheel transform and it does not seem to work. Please refer to the image attached .

![NoTransform](http

[2022-04-29 10:05] robertokcanale opened #230 "Expand ROS2 Tutorials"
Hello, I will start a ROS2 project with the Husky and a UR5 mounted on top of it. First we simulate it then i'll need to make the real project.
The tutorials provided for ROS2 are very scarce. Would it be possible to have a more in-depth manual and/or more tutorials on control and simulation?
Thank you very much,
Roberto

[2022-04-29 15:51] mikepurvis commented on #229
Do you have a `joint_states` topic? That's what robot_state_publisher consumes in order to publish the correct positions of all the joints, including the wheels, see:

http://wiki.ros.org/robot_state_publisher

[2022-04-29 15:58] tonybaltovski commented on #230
Hi @robertokcanale,
We are working on expanding accessory support for the Husky but currently there is not Movieit/manipulator support.

[2022-04-29 16:00] tonybaltovski commented on #229
Also, could you provide the full log of when you start the simulation as well as the version of husky software you using?

[2022-04-29 16:01] tonybaltovski commented on #112
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2022-04-29 16:01] #112 closed, assigned to nobody

[2022-04-29 20:19] niuhaoyu16 opened #232 "husky_bringup package is not found in ROS2"
How do I install husky_bringup package in my husky robot with ROS2? When I run ros2 run husky_bringup install, it says the package is not found

[2022-05-01 07:37] robertokcanale commented on #229
@mikepurvis no i do not have a joint_states topic! is it already in the husky package, and if so, which one and which executable?

 or should I provide it myself? Thank you for the info!

@tonybaltovski At the moment I am trying to use the ROS2 simulation husky, not the real one. I do not know which husky version we have in the lab (it has been there for a couple of years at least), but it would b

[2022-05-03 23:19] tonybaltovski commented on #229
I mean the version of the husky software.

[2022-05-04 07:41] robertokcanale commented on #229
The husky software I am using is the one for Foxy

[2022-05-04 20:46] tonybaltovski commented on #229
Did you install it from source or via debian?  If from source, which commit?

[2022-05-04 21:02] tonybaltovski commented on #232
@niuhaoyu16 it is pending being synced on Friday.  You can switch to the test repo to get it now.

[2022-05-06 00:25] tonybaltovski commented on #218
@marco-ambrosio do you get any warnings or errors when running `ros2 launch husky_base base.launch.py`?   Which version of `ros_controllers` do you have installed?

[2022-05-13 23:10] #232 closed, assigned to nobody

[2022-05-13 23:10] niuhaoyu16 commented on #232
Need to create a workspace and source the package

[2022-05-18 17:34] tonybaltovski commented on #218
@marco-ambrosio can you try `1.0.6`?

[2022-05-25 04:10] wakoko79 opened #236 "Bring back explicit variables for laser_enabled, realsense_enabled"
Bring this back, this is ridiculous.
I'm on melodic and using the published husky packages (0.4.12) BREAKS THE TUTORIALS.

This commit [12230e4d7bd9356e09fbf562f5cd8493128dcb31](https://github.com/husky/husky/commit/12230e4d7bd9356e09fbf562f5cd8493128dcb31) breaks out of the box operation of laser scans in simulator, which leads to amcl not publishing map tf frame.
And so, the tutorials are now us

[2022-05-25 07:05] wakoko79 commented on #236
The actual commit for melodic-devel is [425e5a96d181fa9009811949ff0b5afb8b10e524](https://github.com/husky/husky/commit/425e5a96d181fa9009811949ff0b5afb8b10e524).

The commit message says: "Remove the need to explicitly specify the laser_enabled, ...".
This is wrong, as previously, there is **no need** to specify them as arguments, because you can either specify those in the launch file as args **

[2022-05-31 16:43] tonybaltovski commented on #236
Hi,
Thank you for catching this and sorry for the frustration it caused you.  The tutorials will be updated shortly.  Environment variables work better for more complex integrations involving moveit for example.

[2022-05-31 16:58] civerachb-cpr commented on #236
For context, the primary issue that led to the merge request in question was that on our physical robots we use `/etc/ros/setup.bash` to set the environment variables for adding common accessories to the Husky. But because of the previous structure of the URDF and launch files when you used these envars and tried running the MoveIt Setup Assistant, the envar-controlled accessories would not be add

[2022-06-22 07:53] AngeLoGa opened #240 "ROS2 Foxy Nav | Odom not using sim time"
Greetings, I'm trying to simulate a husky in ROS2 Foxy. I recently started learning ROS and my first challenge was to set up a husky in a greenhouse and make it navigate autonomously.
I already changed the urdf so I added some lidars, and other sensors, and the world which in my case is a greenhouse. The launch that I'm working with is husky_playpen_launch.py, as the most tutorials says.

The prob

[2022-08-18 18:26] PhilipAmadasun opened #243 "Gmapping does not work"
**Please provide the following information:**
 - OS: (e.g. Ubuntu 18.04)
 - ROS Distro: (e.g. Melodic)
 - Built from source or installed:
 - Package version: (if from repository, give version from `sudo dpkg -s ros-melodic-husky-navigation`, if from source, give commit hash)
 - Real hardware or simulation: Simulation

 **Expected behaviour**
 Launching gmapping_demo,visualizers in the navigation g

[2022-08-18 18:26] gxfgit commented on #243
您好，邮件已经收到，我会尽快查看并回复。谢谢！ 

[2022-08-18 20:19] civerachb-cpr commented on #243
What are the error messages you're seeing in Rviz?  A screenshot of Rviz with the errors expanded would be helpful.  Can you run
[code]
and see the Husky model rendering correctly?

When you start Gazebo are you seeing any error messages in the terminal?

Which branch did you check out when you built from source and did you install the additional dependencies by running
[code]
inside your catkin w

[2022-08-19 00:10] PhilipAmadasun commented on #243
@civerachb-cpr @tonybaltovski
Yes I see the husky model rendering correclty. This is what my terminal looks like when I run gazebo( roslaunch husky_gazebo husky_playpen.launch):
[code]
When I `roslaunch husky_viz view_robot.launch`.
The terminal looks like this:
[code]
This is what my rviz looks like:
![husky](https://user-images.githubusercontent.com/55031054/185515785-66c102ca-d6ae-4ee5-9c22-d4b

[2022-08-19 03:35] PhilipAmadasun commented on #243
@civerachb-cpr @tonybaltovski   I did not build any of the husky packages in a workspace. I used `sudo apt-get install ros-melodic-husky*`

[2022-08-19 20:17] civerachb-cpr commented on #243
This part of your log looks suspicious:
[code]

It looks like other ROS nodes may already be running on your system; either another simulation or the nodes needed for a physical robot.  Do you have any other ROS nodes running on the computer? Or have you modified any launch files to start an additional `robot_state_publisher` node?

I just installed Ubuntu 18.04 in a VM, added the ROS and Clearpat

[2022-09-02 10:05] shrinivas96 commented on #236
Hello. I am facing a similar problem I think. I cloned the entire husky repository and built the `husky_gazebo`, `husky_viz` and `husky_navigation` suceesfully to try the [Husky AMCL demo tutorial](http://wiki.ros.org/husky_navigation/Tutorials/Husky%20AMCL%20Demo). But i get two errors constantly, which causes the demo to not work:

1. AMCL node complains: **No laser scan received (and thus no po

[2022-09-02 14:10] wakoko79 commented on #236
I just checked and they still haven't updated their tutorials in Clearpath's website (I think). I think most of the people who would simulate Husky will probably be your customer, don't do this to your customers please. Please update your stuff, This is documentation, not code, it shouldn't be too hard to do.

### TLDR for @tonybaltovski:
Before launching the simulation in gazebo, your command lin

[2022-09-09 16:05] shrinivas96 commented on #236
Thanks a lot @wakoko79 for such a detailed explanation. Your explanation and some exploration of these files also helped me in better understanding the package, and how to change things that I need.

Also, yes, I agree, they should update the tutorials at this point to reflect all these changes.

[2022-09-12 23:10] Ronoman commented on #218
I am experiencing the same issue. I have 20.04 running within a docker container, running ROS2 Galactic, on a Husky robot. I have built this package from source, with a few small modifications off of the galactic-devel branch (unfortunately I can't share these, but none of them should impact this. Most of them are changes made to fix launch files and parameters, which seem to be handled in very si

[2022-09-13 21:38] Ronoman commented on #218
Fixed in https://github.com/husky/husky/pull/246.

[2022-09-14 10:28] tonybaltovski commented on #218
@Ronoman can you checkout the latest `galacitc-devel`, I cherry-picked the fix for this from foxy.  As a note, Clearpath does really intend to support Galactic since it is not a LTS version.

[2022-10-06 02:04] hyoungmin94 commented on #236
![Screenshot from 2022-10-05 17-42-32](https://user-images.githubusercontent.com/14236976/194197792-9ee469ba-8831-4315-be4b-869e570a21e9.png)
I'm having the same problem, and putting HUSKY_LMS1XX_ENABLED=1 in my ~/.bashrc didn't change anything. Any help would be appreciated.
Edit: I'm on Ubuntu 18.04, ROS Melodic.
Edit2: Ignore this please. Figures I didn't put "set -a" and "set +a" before and af

[2022-10-11 15:01] tonybaltovski commented on #218
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2022-10-11 15:01] #218 closed, assigned to tonybaltovski

[2022-10-14 07:53] Karin-Sugi opened #253 "Invalid parameter robot_description"
Hi, I'm making customized husky , and tryied to show it following [husky tutorial](http://www.clearpathrobotics.com/assets/guides/melodic/husky/CustomizeHuskyConfig.html).

When I try to see it on the both rviz and gazebo, they never launched and error below is returned.

commands i send:
[code]

returned error when i launch gazebo:
[code]

I'm using ros Melodic, and LMS1xx package has been downlo

[2022-10-14 11:45] tonybaltovski commented on #243
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2022-10-14 11:45] #243 closed, assigned to tonybaltovski

[2022-10-14 11:46] tonybaltovski commented on #229
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2022-10-14 11:46] #229 closed, assigned to tonybaltovski

[2022-10-14 14:22] civerachb-cpr commented on #253
What are the contents of the URDF file you're assigning here:

[code]

and are you properly replacing the path with the actual path to your URDF file?

[2022-10-17 04:40] Karin-Sugi commented on #253
Hi, the path is fine but my urdf is not.
I said it must be fine because `roslaunch urdf_tutorial display.launch model:=hauser.urdf.xacro` showed my model with no problem. However, when I use husky's default lanuch file to launch rviz & gazebo, it seems I shouldn't have used `<xacro:include  filename:"path/to/the/original_husky.urdf.xacro">`. Once, i remove the line, both rviz&gazebo show my model

[2022-10-17 04:40] #253 closed, assigned to tonybaltovski

[2022-10-18 06:06] Karin-Sugi opened #255 "FT sensor plugin on gazebo"
Hi, I'm trying to set FT sensor to Husky. Howerve, launching gazebo, i got an error saying:
`gazebo_ros_ft_sensor plugin error: jointName: blade_joint does not exist`
My custermized model looks like a bulldozer. There is a board in front of the husky. I named new joint&link as blade_joint & blade_link and set the sensor to blade_joint (blade_joint is connected to husky's base_link).

When I checke

[2022-10-18 09:07] tonybaltovski commented on #255
Hello!

Great questions! Unfortunately this isn't quite the correct place for it, that's not something that we can inherently support. Your best bet would be to ask the ROS answers community, (https://answers.ros.org/questions/) there's usually plenty of ROS experts there that will be willing to help.

Best of luck!

[2022-10-18 09:07] #255 closed, assigned to nobody

[2022-10-21 07:33] Karin-Sugi opened #256 "JoyStick cannot notrol husky"
Hi, as i mentioned in the title, my husky bacame unable to be cobtroled by joystick suddenly!

All lights (battery, comm...) are green, but husky never move.
I sent command by ssh to both `/husky_velocity_controller/cmd_vel` and `/joy_teleop/cmd_vel`. Both of them worked(/joy_teleop/cmd_vel didn't worked at first but second time, fine). Also, i tried `rostopic echo /joy_teleop/cmd_vel` while using

[2022-10-21 20:56] civerachb-cpr commented on #256
What brand of controller are you using?  Is it a PS4 controller, or a Logitech F710?  (I'm assuming it's an F710 since you mentioned it has a USB dongle, but it's good to confirm.)

What is the output of the following commands on your robot?
[code]

[2022-10-25 05:52] Karin-Sugi commented on #256
Hi,
It is surprising suddenly husky starts moving with joy stick. Now I can use it, but I'm not sure why it didn't work and why it starts to work again. If you have any idea, could you tell me the reason in the case it stop moving again?

I'm using logitech F710.  and the resutls of the commands were below.

[code]

[code]

[2022-10-25 06:32] civerachb-cpr commented on #256
The issue is likely caused by the `ds4drv` service; this service creates a virtual `/dev/input/js*` device that manages the PS4 controller.  (The default driver for the PS4 controller can latch the last command if the robot drives out of range; the ds4drv service handles safely disconnecting the input if it goes out of range.)

Depending on the relative order of when the `dsrdrv` service started a

[2022-10-25 11:59] Gavriel-CTO opened #258 "Frontier Exploration Demo for Noetic"
Can you please explain why it was removed for Melodic and what needs to be done to get it running for Noetic?

[2022-10-25 16:26] civerachb-cpr commented on #258
At the time the Husky was upgraded to Melodic, the `frontier_exploration` package was not usable with Melodic.  Rather than delay releasing the Husky update, or releasing it with a broken dependency, we made the decision to remove it completely.

Since that time, there does appear to be a melodic branch of `frontier_exploration` available here: https://github.com/paulbovbel/frontier_exploration/tr

[2022-10-25 16:26] #258 closed, assigned to tonybaltovski, civerachb-cpr

[2022-10-25 23:14] Tinker-Twins opened #259 "Arguments in `teleop.launch` from `husky_control` package"
@civerachb-cpr, just noticed 3 small issues with the `teleop.launch` file from `husky_control` package:

1. Arguments for both joystick as well as keyboard teleoperation have been set to true simultaneously. https://github.com/husky/husky/blob/741f70882da3abb17578cf594779add985e95b08/husky_control/launch/teleop.launch#L5-L6

2. `teleop_twist_joy` node does not check whether or not the `joystick` a

[2022-10-26 05:13] civerachb-cpr commented on #259
This was intentional so as to allow keyboard or game controller input to be used.  I've just edited the launch file and the twist_mux configuration to make the keyboard teleop use `kb_teleop/cmd_vel` instead of `joy_teleop/cmd_vel`.  The game controller has higher priority and will override the keyboard input.

Because on a normal Husky the teleop.launch file is normally run by the `ros` systemd j

[2022-10-26 05:13] #259 closed, assigned to nobody

[2022-10-26 05:18] civerachb-cpr commented on #256
I'm going to mark this as closed, but if this issue persists please re-open it or contact our support team directly.

[2022-10-26 05:18] #256 closed, assigned to tonybaltovski

[2022-10-31 09:28] Rowaid-x opened #263 "Cant find /dev/clearpath/gps file"
- OS: Ubuntu 18.04
 - ROS Melodic

I just installed husky software(melodic) and when done tried to run "roslaunch husky_bringup navsat.launch"

Error :
Couldn't open dev/clearpath/gps

Same thing for imu

[2022-10-31 12:42] tonybaltovski commented on #263
Do you have those devices?  Can you see them using `lsub`?  How did you install the Husky software?

[2022-10-31 13:29] Rowaid-x commented on #263
I have them yes, I installed it using the instructions [here](https://www.clearpathrobotics.com/assets/guides/kinetic/husky/InstallHuskySoftware.html)

I just chose the melodic version, connected my ps4 controller.

Only the laser is available in the rostopic list.

I will try tomorrow the lsusb but am pretty sure they're connected.

[2022-10-31 13:42] Rowaid-x commented on #263
Does the usb port which the um7 is connected to matters?

[2022-10-31 17:48] tonybaltovski commented on #263
Did you run `rosrun husky_bringup install` with them connected?  The port does not matter.

[2022-10-31 20:34] Rowaid-x commented on #263
Yes ,and it didn't work

[2022-11-01 16:26] tonybaltovski commented on #263
Can you get the `lsusb` and `dmesg` output?

[2022-11-02 05:44] Rowaid-x commented on #263
The um7 is detected it was a loose connection sorry for that but gps no,

Dmesg output:
'''
[    0.000000] microcode: microcode updated early to revision 0xf0, date = 2021-11-15
[    0.000000] Linux version 4.15.0-194-generic (buildd@lcy02-amd64-052) (gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)) #205-Ubuntu SMP Fri Sep 16 19:49:27 UTC 2022 (Ubuntu 4.15.0-194.205-generic 4.15.18)
[    0.000000]

[2022-11-02 05:49] Rowaid-x opened #264 "Um7 packet without data"
**Please provide the following information:**
 - OS: 18.04
 - ROS Distro: Melodic
 - Real hardware

Um7 doesn't receive data

Rosrun um7 um7_driver

rosrun um7 um7_driver
[ INFO] [1667367895.042224127]: um7_driver successfully connected to serial port /dev/clearpath/um7.
[ INFO] [1667367895.065160976]: Received packet 02 without data.
[ INFO] [1667367895.068245150]: Setting update rate to 160Hz
[

[2022-11-02 11:02] tonybaltovski commented on #263
Not seeing a GPS device there.  Which GPS is it and how is it connected?

[2022-11-02 11:03] tonybaltovski commented on #264
Did you change the update rate for this device?

[2022-11-02 12:31] Rowaid-x commented on #264
Yes tried changing multiple times

[2022-11-02 12:32] Rowaid-x commented on #263
Swiftnav duro ,its connected by ethernet cable

[2022-11-02 13:01] tonybaltovski commented on #263
Could I get you to email support@clearpathrobotics.com to provide you with detailed instructions to get the Swiftnav Duro working again.

[2022-11-02 13:01] tonybaltovski commented on #264
Does the issue happen when you are operating at 20Hz?

[2022-11-24 07:46] Gavriel-CTO opened #266 "Parameter names need to be updated in husky_navigation/config/planner.yaml"
**Please provide the following information:**

 - Ubuntu 20.04.5 LTS
 - ROS Noetic
 - Installed
 - 0.6.4-2focal.20221014.230629
 - Simulation

 **Expected behaviour**

 Config files use non-deprecated parameters.

 **Actual behaviour**

[ WARN] [1669273998.355371846, 1.009000000]: Parameter max_trans_vel is deprecated (and will not load properly). Use max_vel_trans instead.
[ WARN] [1669273998.355

[2022-11-25 06:08] tonybaltovski commented on #263
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2022-11-25 06:08] #263 closed, assigned to tonybaltovski

[2022-11-25 06:08] tonybaltovski commented on #264
Closing due to inactivity.  Please feel free to re-open if issue persists.

[2022-11-25 06:08] #264 closed, assigned to tonybaltovski

[2022-11-25 06:09] tonybaltovski commented on #198
Hello!

Great questions! Unfortunately this isn't quite the correct place for it, that's not something that we can inherently support. Your best bet would be to ask the ROS answers community, (https://answers.ros.org/questions/) there's usually plenty of ROS experts there that will be willing to help.

Best of luck!

[2022-11-25 06:09] #198 closed, assigned to tonybaltovski, civerachb-cpr

[2022-11-25 16:15] #266 closed, assigned to tonybaltovski